<% content_for :structured_data do %>
  <%= render "public/seo_pages/shared/structured_data" %>
<% end %>

<%= render "public/seo_pages/shared/hero" %>

<div class="public-main-content">
  <%= render "public/seo_pages/shared/intro" %>
  <%= render "public/seo_pages/shared/category_links" %>
  <%= render "public/seo_pages/shared/sections" %>
  <%= render "public/seo_pages/shared/faq" %>
  <%= render "public/seo_pages/shared/product_grid" %>
  <%= render "public/seo_pages/shared/related_pages" %>
  <%= render "public/seo_pages/shared/cta_block" %>
</div>
