<% content_for :structured_data do %>
  <%= render "public/seo_pages/shared/structured_data" %>
<% end %>

<%= render "public/seo_pages/shared/hero" %>

<div class="public-main-content">
  <%= render "public/seo_pages/shared/intro" %>
  <%= render "public/seo_pages/shared/category_links" %>
  <%= render "public/seo_pages/shared/sections" %>

  <% if seo_page_includes?(@page, :products) %>
    <%= render "public/seo_pages/shared/product_grid" %>
  <% end %>

  <% if seo_page_includes?(@page, :boutique_snippet) %>
    <%= render "public/seo_pages/shared/boutique_snippet" %>
  <% end %>

  <% if seo_page_includes?(@page, :reviews) %>
    <%= render "public/seo_pages/shared/reviews" %>
  <% end %>

  <% if seo_page_includes?(@page, :map) %>
    <%= render "public/pages/la_boutique/section_map" %>
  <% end %>

  <%= render "public/seo_pages/shared/faq" %>
  <%= render "public/seo_pages/shared/related_pages" %>
  <%= render "public/seo_pages/shared/cta_block" %>
</div>
