<div id="<%= dom_id avoir_remb %>">
  <p>
    <strong>Type avoir remb:</strong>
    <%= avoir_remb.type_avoir_remb %>
  </p>

  <p>
    <strong>Montant:</strong>
    <%= avoir_remb.montant %>
  </p>

  <p>
    <strong>Nature:</strong>
    <%= avoir_remb.nature %>
  </p>

  <p>
    <strong>Commande:</strong>
    <%= avoir_remb.commande_id %>
  </p>

</div>
