<p style="color: green"><%= notice %></p>

<%= render @avoir_remb %>

<div>
  <%= link_to "Edit this avoir remb", edit_avoir_remb_path(@avoir_remb) %> |
  <%= link_to "Back to avoir rembs", avoir_rembs_path %>

  <%= button_to "Destroy this avoir remb", @avoir_remb, method: :delete %>
</div>
