<h1>Shopping cart</h1>
Items:
<%= @cart.size %>
<br>
<% @cart.each do |cart_item| %>
    <br>
    <%= cart_item.nom %>
    <%= link_to "x", remove_from_cart_path(cart_item), method: :delete %>
<% end %>

<% if @cart.present? %>
    <%= @cart.collect { |item| item.to_builder.attributes! } %>
    <%= button_to "Buy Now", stripe_payments_path, 
        method: :post, class: "btn btn-primary", data: { turbo: false } %>  
<% end %>