<div class="sticky-bottom px-1 mt-5 gap-2">

    <div class="d-flex flex-wrap gap-5">

        <%#= link_to image_tag('/images/logo_courant_public.png', class: 'navbar-brand me-4', width: "200"), root_url %>
        
        <div class=""> 
            <div class="fw-bold">Légal</div>
            <%= link_to "CGV", cgv_url(subdomain: "shop"), class: "text-secondary text-decoration-none" %>
        </div>

        <div class=""> 
            <div class="fw-bold">Suivez-nous</div>
            <%= link_to "Instagram", "https://www.instagram.com/autourdunsoir/", class: "d-block text-secondary text-decoration-none", target: "_blank", rel: "noopener noreferrer" %>
            <%= link_to "Facebook", "https://www.facebook.com/autourdunsoir/", class: "d-block text-secondary text-decoration-none", target: "_blank", rel: "noopener noreferrer" %>
        </div>

        <div class=""> 
            <div class="fw-bold">Pages</div>
            <%= link_to "La boutique de Cannes", laboutique_url(subdomain: "shop"), class: "d-block text-secondary text-decoration-none" %>
            <%= link_to "Catégories", categories_url(subdomain: "shop"), class: "d-block text-secondary text-decoration-none" %>
            <%= link_to "Prendre Rendez-vous", rdv_url(subdomain: "shop"), class: "d-block text-secondary text-decoration-none" %>
        </div>        

    </div>


    <hr>

    <% if user_signed_in? %>
        <div class="container-fluid mt-4 d-flex justify-content-end">
            <%= button_to destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "text-danger d-flex align-items-center" do %>
                <i class="bi bi-box-arrow-left me-1"></i>
                <span class="fw-bold"><%= current_user.role %> </span>
            <% end %>
        </div>

    <% elsif current_admin_user %>
        <div class="container-fluid mt-4 d-flex justify-content-end">
            <%= button_to destroy_admin_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "text-danger d-flex align-items-center" do %>
                <i class="bi bi-box-arrow-left me-1"></i>
                <span class="fw-bold"><%= current_admin_user.role %> </span>
            <% end %>
        </div>
    <% else %>

        <%= link_to new_user_session_path, class: "text-warning text-decoration-none" do %>
            <i class="bi bi-person-lock"></i>
            <span class="fw-bold">Connexion</span>
        <% end %>

        <%= link_to new_user_registration_path, class: "text-primary text-decoration-none" do %>
            <i class="bi bi-person-add"></i>
            <span class="fw-bold">Nouveau</span>
        <% end %>


    <% end %>

    <%#= link_to "admin", admin_home_admin_path, class: "btn btn-sm btn-dark" %>
    <%= link_to "admin", admin_root_url(subdomain: "admin"), class: "fw-bold text-dark text-decoration-none" %>
</div>