
<nav class="navbar navbar-expand-xl navbar-dark shadow-sm sticky-top">
  <div class="container align-items-center justify-content-between">
    <div class="d-flex align-items-center gap-2">
      <%= link_to image_tag('/images/a1soir_logo_white.png', class: 'navbar-brand mb-0', width: "180", alt: "Logo"), root_url %>

      <%= link_to rdv_url(subdomain: "shop"),
          class: "btn btn-sm btn-smoke-hover text-light px-2 shadow d-inline-flex align-items-center public-brand-color hover-lift" do %>
        <i class="bi bi-calendar-check me-2"></i>
        <span class="fw-bold text-uppercase small">RDV</span>
      <% end %>
    </div>

    <div class="d-flex align-items-center gap-3 order-xl-2 ms-auto">
      <%= render partial: "public/shared/cart_nav_link" %>

      <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse order-xl-1" id="navbar">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <%= nav_link_public(home_path, "Accueil") %>
        <%= nav_link_public(la_boutique_url, "Boutique") %>
        <%= nav_link_public(nos_collections_url, "Collections") %>
        <%= render "public/shared/cabine_nav_link", badge_count: session[:cabine_cart]&.size %>
        <%= nav_link_public(le_concept_url, "Concept") %>
        <%= nav_link_public(nos_autres_activites_url, "Autres activités") %>
        <%= nav_link_public(legal_url, "Légal") %>
        <%= nav_link_public(faq_url, "FAQ") %>
        <li class="nav-item my-3 d-xl-none">
          <%= link_to rdv_url(subdomain: "shop"),
              class: "btn btn-smoke-hover text-light px-4 py-2 shadow d-inline-flex align-items-center gap-2 hover-lift" do %>
            <i class="bi bi-calendar-check"></i>
            <span class="fw-bold text-uppercase small">Prendre rendez-vous</span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>