<div id="<%= dom_id client %>"class="my-2">
  <div class="card mx-2 mb-3 light-beige-colored shadow-sm">
    <div class="card-body p-1">

        <div class="card-title d-flex">
          <div data-turbo="false">
            <%= link_to admin_client_path(client), class: "text-decoration-none text-dark" do %>
              <%= custom_badge("", "", "", "fw-bold", client.full_name) %>
            <% end %>
          </div>
          <%= custom_badge("", "", "", "", client.propart) if client.propart.present? %>

          <%= link_to "", "#collapseClient#{dom_id(client)}", 
                class: "btn btn-sm btn-outline-primary bi bi-eye m-1", "data-bs-toggle": "collapse", 
                role: "button", "aria-expanded": "false", "aria-controls": "collapseClient#{dom_id(client)}" %>

        </div>

        <div class="text-end">
          <%= links_record(client) %>  
        </div>
  
      <div class="collapse px-2" id="collapseClient<%= dom_id(client) %>">

        <hr>

        <%= field_with_label("type: ", client.propart)  %>
        <%= field_with_label("commentaires: ", client.commentaires)  %>
        <%= field_with_label("intitule: ", client.intitule) %>
        <%= field_with_label("tel: ", client.tel)  %>
        <%= field_with_label("tel2: ", client.tel2)  %>
        <%= field_with_label("mail: ", client.mail)  %>
        <%= field_with_label("mail2: ", client.mail2)  %>
        <%= field_with_label("adresse: ", client.adresse)  %>
        <%= field_with_label("cp: ", client.cp)  %>
        <%= field_with_label("ville: ", client.ville)  %>
        <%= field_with_label("pays: ", client.pays)  %>
        <%= field_with_label("contact: ", client.contact)  %>
        <%= field_with_label("langue: ", client.language_label)  %>

      </div>

    </div>

  </div>

</div>