<%#= turbo_frame_tag "client_form" do %>

  <div class="card mx-2 mb-3 p-2 light-beige-colored shadow-sm">

    <%= form_with(model: client, url: client.persisted? ? admin_client_path(client) : admin_clients_path, method: client.persisted? ? :patch : :post, data: { turbo: true }) do |form| %>
      <% if client.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

          <ul>
            <% client.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>


      <%= custom_form_elements(form, 
        [:prenom, :text_field], [:nom, :text_field]
      ) %>

      <div class="input-group px-2 mb-1">
        <%= form.label :propart, "Pro / Particulier", class: "input-group-text" %>
        <%= form.select :propart, Client::PROPART_OPTIONS, { include_blank: '' }, class: "form-select" %>
      </div>

      <div class="input-group px-2 mb-1">
        <%= form.label :intitule, class: "input-group-text" %>
        <%= form.select :intitule, Client::INTITULE_OPTIONS, { include_blank: '' }, class: "form-select" %>
      </div>

      <%= custom_form_elements(form, 
        [:commentaires, :text_area],
        [:tel, :number_field], [:tel2, :number_field],
        [:mail, :text_field], [:mail2, :text_field], [:adresse, :text_field],
        [:cp, :text_field], [:ville, :text_field], [:pays, :text_field], [:contact, :text_field]
      ) %>

      <div class="input-group px-2 mb-1">
        <%= form.label :language, "Language", class: "input-group-text" %>
        <%= form.select :language, 
          [['Français', 'fr'], ['Anglais', 'en']], 
          { include_blank: '', selected: form.object.language || 'fr' }, 
          class: "form-select" %>
      </div>

      <%= custom_submit_button(form) %>

    <% end %>

  </div>

<%# end %>