<%= card_main_model("Client", "person") %>

<div class="<%= admin_list_stack_classes %>">
  <%= render @client %>
</div>

<%= card_main_model(
  "Commandes",
  "file-earmark-fill",
  admin_bandeau_nouveau_cta("#collapseNewCommande",
          data: { bs_toggle: "collapse" },
          role: "button",
          aria: { expanded: "false", controls: "collapseNewCommande" })) %>

<%= admin_collapse_nouveau collapse_id: "collapseNewCommande",
      target_id: "new_commande",
      inner_partial: "admin/commandes/form",
      client_id: @client.id,
      commande: Commande.new,
      index_collapse: true %>

<div id="commandes" class="<%= admin_list_stack_classes %>">
  <% @client.commandes.each do |commande| %>
    <%= render commande %>
  <% end %>
</div>

<%= render 'admin/meetings/meetings' %>

<hr>

<%= return_model_index_button("Retour vers clients", admin_clients_path) %>
