<div class="bg-white text-dark">
  <!-- Section public cards -->
  <% if @texteEquipe.present? %>
    <section class="py-5 my-4">
      <div class="container">
        <!-- Cards avec les différents aspects de l'équipe -->
        <div class="row g-4 justify-content-center" data-scroll-reveal>
          <div class="col-12 col-md-4 col-lg-4 d-flex">
            <%= public_card(
              icon: "people-fill", 
              title: t("public.pages.la_boutique.public_cards.experience.title"),
              content: t("public.pages.la_boutique.public_cards.experience.content"),
              theme: "light",
              card_style: "info",
              wrapper_class: "p-0 w-100"
            ) %>
          </div>
          
          <div class="col-12 col-md-6 col-lg-4 d-flex">
            <%= public_card(
              icon: "award-fill", 
              title: t("public.pages.la_boutique.public_cards.expertise.title"),
              content: t("public.pages.la_boutique.public_cards.expertise.content"),
              theme: "light",
              card_style: "info",
              wrapper_class: "p-0 w-100"
            ) %>
          </div>
          
          <div class="col-12 col-md-6 col-lg-4 d-flex">
            <%= public_card(
              icon: "heart-fill", 
              title: t("public.pages.la_boutique.public_cards.passion.title"),
              content: t("public.pages.la_boutique.public_cards.passion.content"),
              theme: "light",
              card_style: "info",
              wrapper_class: "p-0 w-100"
            ) %>
          </div>
          
          <div class="col-12 col-md-6 col-lg-4 d-flex">
            <%= public_card(
              icon: "stars", 
              title: t("public.pages.la_boutique.public_cards.quality.title"),
              content: t("public.pages.la_boutique.public_cards.quality.content"),
              theme: "light",
              card_style: "info",
              wrapper_class: "p-0 w-100"
            ) %>
          </div>
          
          <div class="col-12 col-md-6 col-lg-4 d-flex">
            <%= public_card(
              icon: "chat-dots-fill", 
              title: t("public.pages.la_boutique.public_cards.advice.title"),
              content: t("public.pages.la_boutique.public_cards.advice.content"),
              theme: "light",
              card_style: "info",
              wrapper_class: "p-0 w-100"
            ) %>
          </div>
          
          <div class="col-12 col-md-6 col-lg-4 d-flex">
            <%= public_card(
              icon: "shield-check", 
              title: t("public.pages.la_boutique.public_cards.trust.title"),
              content: t("public.pages.la_boutique.public_cards.trust.content"),
              theme: "light",
              card_style: "info",
              wrapper_class: "p-0 w-100"
            ) %>
          </div>
        </div>
      </div>
    </section>
  <% end %>
</div>
