<div id="<%= dom_id meeting %>">
  <p>
    <strong>Nom:</strong>
    <%= meeting.nom %>
  </p>

  <p>
    <strong>Datedebut:</strong>
    <%= meeting.datedebut %>
  </p>

  <p>
    <strong>Datefin:</strong>
    <%= meeting.datefin %>
  </p>

  <p>
    <strong>Commande:</strong>
    <%= meeting.commande_id %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= meeting.client_id %>
  </p>

  <p>
    <strong>Lieu:</strong>
    <%= meeting.lieu %>
  </p>

</div>
