<div class="card light-beige-colored shadow-lg">

  <div class="card-header bg-dark text-light text-center fw-bold fs-4">
    <%= @titre_complet %>
  </div>

  <div class="container-fluid d-flex justify-content-center align-items-center p-2">

    <%= search_form_for @q, url: selection_produit_path, method: :get, class: "w-100" do |f| %>

      <div class="input-group mt-2">
        <%= f.search_field :nom_or_reffrs_or_couleur_nom_or_taille_nom_cont, class: "form-control rounded mx-1", placeholder: 'Chercher...' %>

        <%= hidden_field_tag 'article', params[:article] if params[:article] %>

        <%= link_to selection_produit_path(article: params[:article]), class: 'btn btn-outline-danger rounded mx-1' do %>
          <i class="fa fa-xl fa-circle-xmark"></i>
        <% end %>
        
        <%= f.button class: 'btn btn-outline-success rounded mx-1' do %>
          <i class="fa fa-xl fa-search mx-3"></i>
        <% end %>        
      </div>

    <% end %>

  </div>

  <% if params[:q] %>
    <%= render "selection_produit/produits_filtres" %>
  <% end %>

  <% unless @produit.present? || params[:q] %>
    <% button_configs = [
      { path: display_qr_selection_produit_index_path, icon: "fa-qrcode", text: "QR code", color: "text-secondary" },
      { path: display_manuelle_selection_produit_index_path(article: @article), icon: "fa-hand", text: "Manuelle", color: "text-secondary" }
    ] %>

    <div class="d-flex flex-wrap justify-content-center align-items-center mb-3">
      <% button_configs.each do |config| %>
        <%= button_to config[:path], class: "btn btn-outline-primary m-2 btn-topic m-2 px-4",
          data: { controller: "button-color", action: "click->button-color#handleClick" },
          "data-original-color": config[:color] do %>
          <i class="fa fa-solid fa-xl <%= config[:icon] %> <%= config[:color] %> <%= config[:text].downcase.parameterize %> <%= config[:color] %>" data-target="button-color.icon"></i>
          <span class="ms-1 fw-bold text-dark"><%= config[:text] %></span>
        <% end %>
      <% end %>
    </div>

  <% end %>

  <div id="partial-container" class="partial-topic">
    <%# recoit le turbo stream avec elements cliqués %>
    <% if @produit.present? %>
      <%= render @produit %>

      <% if @article %>
        <%= render partial: 'sousarticles/form', 
            locals: { commande_id: @commande.id, produit_id: @produit.id, article: @article.id, sousarticle: Sousarticle.new } %>    
      <% else %>
        <%= render partial: 'articles/form', 
            locals: { commande_id: @commande.id, produit_id: @produit.id, article: Article.new } %>
      <% end %>
      
    <% end %>
  </div>

</div>

<%= render 'ensemble_applicable' %>


<br> <br>

<div class="fixed-bottom bg-light">
  <%= return_model_index_button("Retour vers commande", commande_path(@commande)) %>
</div>

