
<h2 class="text-center mb-2">Sélection produit</h2>

<% unless @produit.present? %>

  <div class="container d-flex justify-content-center">

    <%= link_to "#collapseSelectionQr", 
        class: "btn w-50 btn-primary m-1", "data-bs-toggle": "collapse", 
        role: "button", "aria-expanded": "false", "aria-controls": "collapseSelectionQr" do %>
      <i class="fa fa-qrcode m-1"></i>
      <span class="">QR code</span>
    <% end %>

    <%= link_to "#selectionManuelle", 
        class: "btn w-50 btn-primary m-1", "data-bs-toggle": "collapse", 
        role: "button", "aria-expanded": "false", "aria-controls": "selectionManuelle" do %>
      <i class="fa fa-hand m-1"></i>
      <span class="">Sélection manuelle</span>
    <% end %>

  </div>

<% end %>


<div class="collapse" id="collapseSelectionQr">
  <%= render "selection_qr" %>
</div>

<div class="collapse" id="selectionManuelle">
  <%= render"selection_manuelle" %>
</div>


<% if @produit.present? %>
  <%= render @produit %>
  <%= render partial: 'articles/form', locals: { commande_id: @commande.id, produit_id: @produit.id, article: Article.new } %>
<% end %>



<div class="fixed-bottom bg-light p-3">
  <%= return_model_index_button("Retour vers commande", commande_path(@commande)) %>
</div>