<%= bandeau_entete("Etiquettes", "tags", "", "", "") %>

<div class="p-2">
  <%= index_search_form(@q, admin_etiquettes_path, :nom_or_reffrs_or_handle_or_categorie_produit_nom_or_type_produit_nom_or_couleur_nom_or_taille_nom_cont ) %>

  <% if session[:selection_etiquettes].present? %>
    <div class="d-flex flex-wrap align-items-center m-2">
      <strong> Sélection active :  </strong>

      <% session[:selection_etiquettes].each do |produit| %>
        <%= custom_badge("", "", "", "", Produit.find(produit).full_name ) %>

      <% end %>

      <%= form_with url: reset_selection_admin_etiquettes_path, method: :post, data: { turbo: false } do |form| %>
        <button type="submit" class="btn text-danger">
          <i class="bi bi-x-circle"></i> 
        </button>
      <% end %>
      
    </div>

    <div class="text-end">
      <%= link_to generate_pdf_admin_etiquettes_path, target: '_blank', class: "btn btn-danger" do %>
        <span class="fw-bold ms-2"> Edition étiquette</span>
        <i class="bi bi-file-earmark-pdf-fill"></i> 
      <% end %>
    </div>

  <% end %>

</div>


<%= turbo_frame_tag :results, data: {turbo_action: 'advance'} do %>

<div id="etiquettes"> </div> 

<%= turbo_frame_tag :pagination, loading: :lazy, 
                        src: admin_etiquettes_path(format: :turbo_stream,
                        q: params[:q]&.to_unsafe_h) %>
<% end %>
