<div id="<%= dom_id doc_edition %>">
  <p>
    <strong>Commande:</strong>
    <%= doc_edition.commande_id %>
  </p>

  <p>
    <strong>Doc type:</strong>
    <%= doc_edition.doc_type %>
  </p>

  <p>
    <strong>Commentaires:</strong>
    <%= doc_edition.commentaires %>
  </p>
  
  <p>
    <strong>sujet:</strong>
    <%= doc_edition.sujet %>
  </p>

  <p>
    <strong>destinaire:</strong>
    <%= doc_edition.destinataire %>
  </p>

  <p>
    <strong>message:</strong>
    <%= doc_edition.message %>
  </p>


  <%= button_to "", edit_doc_edition_path(doc_edition), method: :post, 
        class: "btn btn-sm btn-secondary fa-solid fa-pen-to-square me-1" %>

</div>


