
<div class="card mx-2 my-3 p-3 shadow-sm">


<%= form_with(model: doc_edition) do |form| %>
  <% if doc_edition.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(doc_edition.errors.count, "error") %> prohibited this doc_edition from being saved:</h2>

      <ul>
        <% doc_edition.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.hidden_field :commande_id, value: session[:commande] %>
  </div>

  
  <div data-controller="form-element">
    <%= form.button "Validate", formaction: new_doc_edition_path, formmethod: :get, 
          data: { turbo_frame: :content_field, form_element_target: "submitbtn" } %>


  <div class="container text-center fs-5">
    <i class="fa-regular fa-file me-1"></i>
    <span>Type document</span>
  </div> 

  <hr>

  <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
    <% DocEdition::DOCUMENT_TYPES.each do |doc_type| %>
      <%= form.radio_button :doc_type, doc_type, id: "btnradio-#{doc_type}", class: "btn-check", data: { action: "change->form-element#remotesubmit" } %>
      <label class="btn btn-outline-primary" for="btnradio-<%= doc_type %>"><%= doc_type %></label>
    <% end %>
  </div>


  <%= turbo_frame_tag :content_field do %>
    <% if doc_edition.doc_type? %>

      <div class="container text-center fs-5 mt-4">
        <i class="fa-regular fa-message me-1"></i>
        <span>Commentaires</span>
      </div> 

      <hr>
      
      <div class="input-group mt-4">
        <%#= form.label :commentaires, class: "input-group-text" %>
        <%= form.text_area :commentaires, class: "form-control" %>
      </div>



      <%# email data %>

      <p>
        <a class="btn btn-primary my-2" data-bs-toggle="collapse" href="#emailCollapse" role="button" aria-expanded="false" aria-controls="emailCollapse">
          Preparer email
        </a>
      </p>

      <div class="collapse" id="emailCollapse">
        <div class="card card-body">
          <!-- Your email-related elements go here -->
          <div>
            <%= form.label :sujet, class: "form-label" %>
            <%= form.text_field :sujet, value: @sujet, class: "form-control" %>
          </div>

          <div>
            <%= form.label :destinataire, class: "form-label" %>
            <%= form.text_field :destinataire, value: @destinataire, class: "form-control" %>
          </div>

          <div>
            <%= form.label :message, class: "form-label" %>
            <%= form.text_area :message, value: @message, class: "form-control" %>
          </div>

          <!-- Add any other email-related fields as needed -->
        </div>
      </div>

      <%= custom_submit_button(form) %>

    <% end %>


  <% end %>


  </div>


<% end %>


</div>