<%= form_with(model: messagemail) do |form| %>
  <% if messagemail.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(messagemail.errors.count, "error") %> prohibited this messagemail from being saved:</h2>

      <ul>
        <% messagemail.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :titre, style: "display: block" %>
    <%= form.text_field :titre %>
  </div>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.label :commentaires, style: "display: block" %>
    <%= form.text_area :commentaires %>
  </div>

  <div>
    <%= form.label :commande_id, style: "display: block" %>
    <%= form.text_field :commande_id %>
  </div>

  <div>
    <%= form.label :client_id, style: "display: block" %>
    <%= form.text_field :client_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
