<p style="color: green"><%= notice %></p>

<%= render @messagemail %>

<div>
  <%= link_to "Edit this messagemail", edit_messagemail_path(@messagemail) %> |
  <%= link_to "Back to messagemails", messagemails_path %>

  <%= button_to "Destroy this messagemail", @messagemail, method: :delete %>
</div>
