<div class="card mx-2 mt-3 p-2 light-beige-colored shadow-sm">

  <%= form_with(model: avoir_remb, url: avoir_remb.persisted? ? admin_avoir_remb_path(avoir_remb) : admin_avoir_rembs_path, method: avoir_remb.persisted? ? :patch : :post, data: { turbo: true }) do |form| %>
    <% if avoir_remb.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(avoir_remb.errors.count, "error") %> prohibited this avoir_remb from being saved:</h2>

        <ul>
          <% avoir_remb.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="m-1">
      <div class="input-group input-group">
        <%= form.label :type_avoir_remb, class: "input-group-text" %>
        <%= form.select :type_avoir_remb, AvoirRemb::TYPE_AVOIRREMB,
        { include_blank: 'Select' }, class: "form-select" %>
      </div>
    </div>

    <%= custom_form_elements(form, 
      [:montant, :number_field],
      [:nature, :text_field] )
    %>

    <div class="m-1">
      <div class="input-group">
        <%= form.label :custom_date, "Date", class: "input-group-text" %>
        <%= form.date_field :custom_date, value: avoir_remb.custom_date || Date.current, class: "form-control" %>
      </div>
    </div>

    <%= form.hidden_field :commande_id, value: commande_id %>

    <%= custom_submit_button(form) %>

  <% end %>

</div>