<div class="p-2" id="<%= dom_id(type_rdv) %>">
  <% type_rdv_local = local_assigns[:type_rdv] || @type_rdv %>
  <%= form_with model: [:admin, type_rdv_local], url: type_rdv_local.persisted? ? admin_type_rdv_path(type_rdv_local) : admin_type_rdvs_path, class: "card" do |f| %>
    <div class="card-body">
      <% if type_rdv_local.errors.any? %>
        <div class="alert alert-danger">
          <ul class="mb-0">
            <% type_rdv_local.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row">
        <div class="col-md-6 mb-3">
          <div class="form-floating">
            <%= f.text_field :code, class: "form-control", placeholder: "Nom" %>
            <%= f.label :code, "Nom" %>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <div class="form-floating">
            <%= f.number_field :duree_base_minutes, class: "form-control", min: 1, placeholder: "Durée de base (minutes)" %>
            <%= f.label :duree_base_minutes, "Durée de base (minutes)" %>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-end p-2">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
