<%= form_with model: contact_message, url: send_contact_message_path, class: "needs-validation", id: "contact_form" do |form| %>

    <div class="my-5 py-5" data-scroll-reveal>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-8">
            <div class="p-4">
              <h3 class="text-center mb-4 fw-bold"><%= t("public.pages.contact.form.title") %></h3>
              <p class="text-center opacity-75 mb-4">
                <%= t("public.pages.contact.form.description") %>
              </p>
              
                <% if contact_message.errors.any? %>
                    <div class="alert alert-danger">
                    <h6><%= pluralize(contact_message.errors.count, "erreur") %> ont empêché l'envoi :</h6>
                    <ul class="mb-0">
                        <% contact_message.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                        <% end %>
                    </ul>
                    </div>
                <% end %>

                <div class="row mb-3">
                    <div class="col-md-6 mb-1">
                    <div class="form-floating">
                        <%= form.text_field :prenom, class: "form-control border-secondary", placeholder: t("public.pages.contact.form.fields.first_name.placeholder") %>
                        <%= form.label :prenom, t("public.pages.contact.form.fields.first_name.label") %>
                    </div>
                    </div>
                    <div class="col-md-6 mb-1">
                    <div class="form-floating">
                        <%= form.text_field :nom, class: "form-control border-secondary", placeholder: t("public.pages.contact.form.fields.last_name.placeholder"), required: true %>
                        <%= form.label :nom, t("public.pages.contact.form.fields.last_name.label") %>
                    </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6 mb-1">
                    <div class="form-floating">
                        <%= form.email_field :email, class: "form-control border-secondary", placeholder: t("public.pages.contact.form.fields.email.placeholder"), required: true %>
                        <%= form.label :email, t("public.pages.contact.form.fields.email.label") %>
                    </div>
                    </div>
                    <div class="col-md-6 mb-1">
                    <div class="form-floating">
                        <%= form.text_field :telephone, class: "form-control border-secondary", placeholder: t("public.pages.contact.form.fields.phone.placeholder") %>
                        <%= form.label :telephone, t("public.pages.contact.form.fields.phone.label") %>
                    </div>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="form-floating">
                    <%= form.text_field :sujet, class: "form-control border-secondary", placeholder: t("public.pages.contact.form.fields.subject.placeholder") %>
                    <%= form.label :sujet, t("public.pages.contact.form.fields.subject.label") %>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="form-floating">
                    <%= form.text_area :message, rows: 5, class: "form-control border-secondary", placeholder: t("public.pages.contact.form.fields.message.placeholder"), required: true, style: "height: 150px;" %>
                    <%= form.label :message, t("public.pages.contact.form.fields.message.label") %>
                    </div>
                </div>

                <!-- reCAPTCHA -->
                <div class="mb-4 d-flex justify-content-center">
                    <div class="g-recaptcha" data-sitekey="<%= ENV['RECAPTCHA_SITE_KEY'] %>"></div>
                </div>

                <!-- Bouton -->
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-dark btn-lg px-5 public-btn-border-radius">
                    <i class="bi bi-send me-2"></i><%= t("public.pages.contact.form.submit") %>
                    </button>
                </div>
                <% end %>



            </div>
          </div>
        </div>
      </div>
    </div>



 