<div class="col" style="width: 18rem;">
    
    <div data-controller="placeholder-card">

        <!-- Card with Placeholder -->
        <div class="card card-placeholder" aria-hidden="true">

            <div class="placeholder col-12" style="height: 300px; background-color: #e0e0e0;">
            </div>
                    
            <div class="card-body">
                <h5 class="card-title placeholder-glow" data-placeholder-card-target="placeholder">
                    <span class="placeholder col-6"></span>
                </h5>
                <p class="card-text placeholder-glow">
                    <span class="placeholder col-7"></span>
                    <span class="placeholder col-4"></span>
                    <span class="placeholder col-4"></span>
                    <span class="placeholder col-6"></span>
                    <span class="placeholder col-8"></span>
                </p>
                <p class="card-text placeholder-glow d-flex justify-content-between">
                    <span class="placeholder col-5"></span>
                    <span class="placeholder col-6"></span>
                </p>
                <p class="card-text placeholder-glow d-flex justify-content-between">
                    <span class="placeholder col-4"></span>
                    <span class="placeholder col-4"></span>
                </p>
            </div>
        </div>

        <!-- Real Content -->
        <%= link_to produit_path(slug: produit.nom.parameterize, id: produit.id), class: "text-decoration-none", data: { turbo: false } do %>
            <div class="card card-content" data-placeholder-card-target="content" style="display:none;">

                <%= image_tag(produit.default_image, class: "card-img-top", style: "max-height: 300px; object-fit: cover;") %>

                <div class="card-body">
                    <h5 class="card-title">
                        <%= produit.nom %>
                    </h5>
                    <p class="card-text text-truncate-multiline">
                        <span>
                            <%= produit.description %>
                        </span>
                    </p>

                    <p class="card-text d-flex justify-content-between">
                        <%= badge_prix("Vente", produit.prixvente) %>
                        <%= badge_prix("Location", produit.prixlocation) if produit.prixlocation.present? %>
                    </p>
                    
                    <p class="card-text d-flex justify-content-between">
                        <% if params[:taille].present? %>
                            <%= badge_taille(produit) %>
                        <% else %>
                           <span></span>
                        <% end %>
                        <%= statut_disponibilite_shop(statut_disponibilite(produit, Time.now, Time.now)[:statut]) %>
                    </p>                
                </div>

            </div>
        <% end %>


    </div>

</div>
