<div id="partial-taille-selected">

  <%# recoit le turbo stream avec elements cliqués %>

  <div class="container-fluid mt-3">

    <div class="text-uppercase fw-bold mb-1">
        Tailles
    </div>
    
    <div>
      <% if @categorie %>       
        <%= link_to "Toutes", produits_path(categorie: @categorie), class: link_badge_taille_class(nil) %>

        <% @toutes_tailles.each do |taille| %>
          <%= link_to taille.nom, produits_path(categorie: @categorie, taille: taille.id),
                      class: link_badge_taille_class(taille.id) %>
        <% end %>

      <% else %>
        <%= link_to "Toutes", produits_index_path, class: link_badge_taille_class %>

        <% @toutes_tailles.each do |taille| %>
          <%= link_to taille.nom, produits_index_path(taille: taille.id),
                      class: link_badge_taille_class(taille.id) %>
          <% end %>
      <% end %>

    </div>

  </div>

  <!--div class="container-fluid mt-3">

    <div class="text-uppercase fw-bold mb-1">
      Couleurs
    </div>
    
    <div>
      <%# if @categorie %>       
        <%#= link_to "Toutes", produits_path(categorie: @categorie), class: link_badge_couleur_class(nil) %>

        <%# @toutes_couleurs.each do |couleur| %>
          <%#= link_to couleur.nom, produits_path(categorie: @categorie, taille: params[:taille], couleur: couleur&.id),
                      class: link_badge_couleur_class(couleur.id) %>
        <%# end %>

      <%# else %>
        <%#= link_to "Toutes", produits_index_path, class: link_badge_couleur_class %>

        <%# @toutes_couleurs.each do |couleur| %>
          <%#= link_to couleur.nom, produits_index_path(couleur: couleur.id),
                      class: link_badge_couleur_class(couleur.id) %>
          <%# end %>
      <%# end %>

    </div>
  </div-->
  
  <div class="container-fluid mt-4 m-0">

    <%= turbo_frame_tag :results, data: {turbo_action: 'advance'} do %>
      <div id="produits" class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-2 m-0 justify-content-center"></div>

        <%= turbo_frame_tag :pagination, loading: :lazy,
            src: @categorie ? 
              produits_path(
                id: @categorie.id, 
                slug: @categorie.nom.parameterize, 
                taille: params[:taille], 
                format: :turbo_stream, 
                subdomain: "shop") : 
                
              produits_index_path(
                taille: params[:taille], 
                format: :turbo_stream, 
                q: params[:q]&.to_unsafe_h,
                subdomain: "shop") %>

      <% end %>
  </div>

</div>
