<%= page_header("La boutique de Cannes", "Découvrez notre équipe et notre boutique", image1: "dessin1.png", image2: "dessin3.png") %>

<div class="public-main-content">
  <%= render partial: "public/pages/la_boutique/section_boutique" %>
  <%= render partial: "public/pages/la_boutique/section_public_cards" %>
  <%= render partial: "public/pages/la_boutique/section_references" %>
  <%= render partial: "public/pages/la_boutique/section_infos" %>
  <%= render partial: "public/pages/la_boutique/section_rdv" %>
  <%= render partial: "public/pages/la_boutique/section_map" %>
</div>
