<% content_for :structured_data do %>
  <script type="application/ld+json">
    <%= webpage_schema(
          name: meta_title,
          description: meta_description,
          url: request.original_url
        ).to_json.html_safe %>
  </script>
<% end %>

<%= page_header(
  t("public.pages.la_boutique.header_title"),
  t("public.pages.la_boutique.header_subtitle"),
  image1: "https://res.cloudinary.com/dukne3lhz/image/upload/q_auto,f_auto,w_1920/dessin1b_vqkxwg", 
  image2: "https://res.cloudinary.com/dukne3lhz/image/upload/q_auto,f_auto,w_1920/manchette_zgcbb0") %>

<div class="public-main-content">
  <%= render partial: "public/pages/la_boutique/section_boutique" %>
  <%= render partial: "public/pages/la_boutique/section_public_cards" %>
  <%#= render partial: "public/pages/la_boutique/section_testimonials" %>
  <%= render partial: "public/pages/la_boutique/section_google_reviews" %>
  <%= render partial: "public/pages/la_boutique/section_infos" %>
  <%= render partial: "public/pages/la_boutique/section_rdv" %>
  <%= render partial: "public/pages/la_boutique/section_map" %>
</div>

<!-- Call to action -->
<div class="text-center my-5 py-4" data-scroll-reveal>
  <h3 class="mb-4 text-light"><%= t("public.pages.la_boutique.cta_title") %></h3>
  <div class="d-flex gap-3 justify-content-center flex-wrap">
    <%= cta_button(type: "collections", url: nos_collections_path, variant: "light") %>
    <%= cta_button(type: "rdv", url: "#{rdv_path}#rdv-form", variant: "dark", outline: "light") %>
  </div>
</div>