<%= page_header("La boutique de Cannes", "Découvrez notre équipe et notre boutique", image1: "cat_costume.jpg", image2: "cat_robes_mariees.jpg") %>

<!-- Section vidéo avec titre, texte et liens -->
<%= render 'public/pages/la_boutique/video_section'%>

<div class="public-main-content">
  <%= render partial: "public/pages/la_boutique/section_boutique" %>
  <%= render partial: "public/pages/la_boutique/section_equipe" %>
  <%= render partial: "public/pages/la_boutique/section_references" %>
  <%= render partial: "public/pages/la_boutique/section_infos" %>
  <%= render partial: "public/pages/la_boutique/section_rdv" %>
  <%= render partial: "public/pages/la_boutique/section_map" %>
</div>
