<div class="public-main-content">

    <div class="p-4">

        <%= search_form_for @q, url: produits_index_path, html: { class: "d-flex align-items-center w-100 position-relative" }, data: { turbo_frame: :results } do |f| %>
            <%= f.search_field :nom_or_description_or_categorie_produits_nom_or_type_produit_nom_or_couleur_nom_or_taille_nom_cont, 
                class: "form-control bg-dark text-light border-secondary placeholder-light w-100 me-1 ps-5", autofocus: false, autocomplete: 'off', 
                placeholder: "Rechercher", oninput: 'this.form.requestSubmit()' %>
            <i class="bi bi-search text-light position-absolute" style="left: 10px; top: 50%; transform: translateY(-50%);"></i>
        <% end %>

    </div>

    <%#= render "texte_categorie" %>

    <div class="container-fluid d-flex flex-wrap gap-1 justify-content-center">

        <%= render partial: "public/pages/filtres/filtres_categorie" %>
        <%= render partial: "public/pages/filtres/filtres_taille" %>
        <%= render partial: "public/pages/filtres/filtres_couleur" %>
        <%= render partial: "public/pages/filtres/filtres_prix" %>
        <%= render partial: "public/pages/filtres/filtres_type" %>

        <%= button_to "Tous les produits", 
            update_filters_path(
                slug: nil, 
                id: nil, 
                couleur: nil,
                prixmax: nil,
                taille: nil,
                type: nil,
                from_cabine: params[:from_cabine]
            ),
            class: "btn btn-sm btn-outline-light" %>

        <%= render  "produits_filtres" %>
   
    </div>

    <!-- Bouton flottant pour accéder au formulaire -->
    <% if @cabine_cart.any? %>
        <%= render partial: "public/pages/floating_reservation_button" %>
    <% else %>
        <div id="floating_reservation_btn"></div>
    <% end %>
    
</div>