<div class="public-main-content">

    <div class="p-4">

        <%= search_form_for @q, url: produits_index_path, html: { class: "d-flex align-items-center w-100 position-relative" }, data: { turbo_frame: :results } do |f| %>
            <%= f.search_field :nom_or_description_or_categorie_produits_nom_or_type_produit_nom_or_couleur_nom_or_taille_nom_cont, 
                class: "form-control w-100 me-1 ps-5", autofocus: false, autocomplete: 'off', 
                placeholder: "Rechercher", oninput: 'this.form.requestSubmit()' %>
            <i class="bi bi-search position-absolute" style="left: 10px; top: 50%; transform: translateY(-50%);"></i>
        <% end %>

    </div>

    <%#= render "texte_categorie" %>

    <div class="container-fluid">

        <%= render  "filtres_categorie" %>
        <%= render  "filtres_taille" %>
        <%= render  "filtres_couleur" %>
        <%= render  "filtres_prix" %>
        <%= render  "filtres_type" %>

        <%= button_to "Tous les produits", 
            update_filters_path(
                slug: nil, 
                id: nil, 
                couleur: nil,
                prixmax: nil,
                taille: nil,
                type: nil
            ),
            class: "badge border brand-colored text-decoration-none mt-2" %>

        <%= render  "produits_filtres" %>
   
    </div>
</div>