<% content_for :structured_data do %>
  <script type="application/ld+json">
    <%= webpage_schema(
          name: meta_title,
          description: meta_description,
          url: public_page_url
        ).to_json.html_safe %>
  </script>

  <% breadcrumbs = [
       { name: structured_breadcrumb_name(:home), url: structured_home_url }
     ] %>

  <% if params[:id].present? && defined?(@toutes_categories) %>
    <% current_category = @toutes_categories.find { |cat| cat.id.to_s == params[:id].to_s } %>
  <% end %>

  <% if defined?(current_category) && current_category.present? %>
    <% breadcrumbs << { name: structured_breadcrumb_name(:categories), url: categories_url } %>
    <% breadcrumbs << { name: current_category.nom, url: public_page_url } %>
  <% else %>
    <% breadcrumbs << { name: structured_breadcrumb_name(:products), url: public_page_url } %>
  <% end %>

  <script type="application/ld+json">
    <%= breadcrumb_schema(breadcrumbs).to_json.html_safe %>
  </script>
<% end %>

<div class="public-main-content">

    <div class="p-4">

        <%= render partial: "public/pages/produits_search" %>

    </div>

    <div class="container-fluid d-flex flex-wrap gap-1 justify-content-center">

        <%= render partial: "public/pages/filtres/filtres_categorie" %>
        <%= render partial: "public/pages/filtres/filtres_type_produit" %>
        <%= render partial: "public/pages/filtres/filtres_taille" %>
        <%= render partial: "public/pages/filtres/filtres_couleur" %>
        <%= render partial: "public/pages/filtres/filtres_prix" %>
        <%= render partial: "public/pages/filtres/filtres_type" %>

    </div>

    <%= render partial: "public/pages/filtres/filtres_actifs" %>

    <%= render "produits_filtres" %>

    <!-- Bouton flottant pour accéder au formulaire -->
    <% if params[:from_cabine].present? && @cabine_cart.any? %>
        <%= render partial: "public/pages/floating_reservation_button" %>
    <% else %>
        <div id="floating_reservation_btn"></div>
    <% end %>
    
</div>