<!DOCTYPE html>
<html>
  <body>

    <p>
      <%= I18n.t('reminders.body.greeting') %> 
      <%= I18n.t('reminders.body.appointment_details', date: @meeting.datedebut.strftime('%d/%m/%Y à %H:%M'), name: @meeting.nom) %>
    </p>

    <p>
      <%= I18n.t('reminders.body.location_label') %>
      <%= @meeting.lieu == "boutique" || "" ? I18n.t('reminders.body.location_boutique') : @meeting.lieu %>
    </p>

    <p>
      <%= I18n.t('reminders.body.alternative_location') %>
    </p>

  </body>
</html>
