<%= bandeau_entete("Rendez-vous", "calendar-date", @count_meetings, 
:nom_or_datedebut_or_datefin_or_lieu_cont, admin_meetings_path) %>

<%= bloc_nouveau(Meeting) %>

<div class="my-4 m-2">

  <iframe src="<%= google_calendar_embed_url %>" style="border:solid 1px #777; width: 100%; height: 800px;" frameborder="0" scrolling="no"></iframe>

</div>


<div>
  <hr>

  <% if params[:q].present? %>
    <%= turbo_frame_tag :results, data: {turbo_action: 'advance'} do %>
        <div id="meetings"> </div> 

        <%= turbo_frame_tag :pagination, loading: :lazy, 
                            src: admin_meetings_path(format: :turbo_stream,
                            q: params[:q]&.to_unsafe_h) %>
    <% end %>

  <% end %>

 
</div>
