<div class="card mx-2 mt-3 p-2 light-beige-colored shadow-sm">

  <%= form_with(model: article, url: article.persisted? ? admin_article_path(article) : admin_articles_path, method: article.persisted? ? :patch : :post, data: { turbo: true }) do |form| %>
    <% if article.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

        <ul>
          <% article.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.hidden_field :commande_id, value: session[:commande] %>
    <%= form.hidden_field :produit_id, value: @produit.id if @produit %>

    <div data-controller="form-article">
    
      <%= form.hidden_field :is_new_article, value: (article.persisted? ? "false" : "true"),  
            data: { action: "change->form-article#checkIfNew", form_article_target: "is_new_article" } %>

      <%= form.hidden_field :prixlocation_initial, value: @produit&.prixlocation,  
            data: { form_article_target: "prixlocation_initial" } %>
      <%= form.hidden_field :prixvente_initial, value: @produit&.prixvente,  
            data: { form_article_target: "prixvente_initial" } %>

      <%= form.hidden_field :caution_initial, value: @produit&.caution,  
            data: { form_article_target: "caution_initial" } %>

      <%# prevoir cas ou absence de admin param fisrt %>
      <%= form.hidden_field :coef_longue_duree, value: AdminParameter&.first&.coef_longue_duree,  
            data: { form_article_target: "coef_longue_duree" } %>

      <div class="container-fluid d-flex">
        <div class="input-group input-group-sm my-1">

          <div class="form-check mx-2">
            <%= form.radio_button :locvente, "location", checked: (article.persisted? ? article.is_location : @commande.is_location), 
                class: "form-check-input", id: "flexRadioDefault1", autocomplete: "off", 
                data: { action: "change->form-article#setInitialPrice", form_article_target: "location" } %>
            <%= form.label :locvente_location, "Location", class: "form-check-label", for: "flexRadioDefault1" %>
          </div>

          <div class="form-check mx-2">
            <%= form.radio_button :locvente, "vente", checked: (article.persisted? ? article.is_vente : @commande.is_vente), class: "form-check-input", 
                id: "flexRadioDefault2", autocomplete: "off", 
                data: { action: "change->form-article#setInitialPrice", form_article_target: "vente" } %>
            <%= form.label :locvente_vente, "Vente", class: "form-check-label", for: "flexRadioDefault2" %>
          </div>
          
        </div>

      </div>


      <div class="input-group input-group-sm my-1">
        <%= form.label :prix, class: "input-group-text fs-6 input-colored" %>
        <%= form.number_field :prix, data: { action: "change->form-article#calculTotal", form_article_target: "prix" }, 
              class: "form-control label-colored" %>
      </div>

      <div class="input-group input-group-sm my-1">
        <%= form.label :quantite, class: "input-group-text fs-6 input-colored" %>
        <%= form.number_field :quantite, 
                              data: { action: "change->form-article#calculTotal", form_article_target: "quantite" }, 
                              class: "form-control label-colored" %>
      </div>

      <div class="input-group input-group-sm my-1">
        <%= form.label :total, class: "input-group-text fs-6 input-colored" %>
        <%= form.number_field :total, 
              data: { action: "change->form-article#calculTotal", form_article_target: "total" }, 
              class: "form-control label-colored", readonly: true %>
      </div>
      
      <div class="input-group input-group-sm my-1">
        <%= form.label :caution, class: "input-group-text fs-6 input-colored" %>
        <%= form.number_field :caution, 
                              data: { action: "change->form-article#calculTotal", form_article_target: "caution" }, 
                              class: "form-control label-colored" %>
      </div>

      <div class="form-check form-switch h6 text-start my-2">
        <%= form.label :longueduree, "Longue durée", class: "form-check-label" %>
        <%= form.check_box :longueduree, data: { action: "change->form-article#changePrixLongueDuree", form_article_target: "longueduree" }, 
              class: "form-check-input" %>
      </div>
     
    </div>

    <%= custom_form_elements(form, 
     [:commentaires, :text_area])
    %>


    <%= custom_submit_button(form) %>

  <% end %>

</div>

<%# end %>
