<%= form_with(model: article) do |form| %>
  <% if article.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>
      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <% form.label :commande_id, style: "display: block" %>
     <%#= form.select :commande_id, Commande.all.collect { |c| [ c.nom, c.id ] },
                     include_blank: true, selected: @commandeId %>
      <%= form.hidden_field(:commande_id, value: @commandeId) %>

  </div>

  <div>
    <% form.label :produit_id, style: "display: block" %>
    <%#= form.select :produit_id, Produit.all.collect { |p| [ p.nom, p.id ] },
                     include_blank: true, selected: @produitId %>
    <%= form.hidden_field(:produit_id, value: @produitId) %>

  </div>

 <% if @produitId.present? %> 
   <%= render "produitLie" %>
   <%= link_to 'Annuler selection', new_article_path(commandeId: @commandeId), class:"btn btn-outline-danger btn-sm" %>
 <br> <br>

<div class="card mb-3 text-bg-dark">
  <div class="card-body">
   <%= simple_form_for [@article], html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f| %>
   <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :quantite %>
    <%= f.input :prix, :input_html => {:value => Produit.find(@produitId).prix} %>
    <%#= Produit.find(@produitId).prix %>
    <%= f.input :total %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, "Valider", class:'btn btn-sm btn-success' %>
  </div>
<% end %>

  </div>
</div>

<% end %>

 <hr>

<%# liste des produits pour selection %>
<% if @produitId.nil? %> 
  <%= render "listeSelection" %>
<% end %>
 
<% end %>
