<%= form_with(model: article) do |form| %>
  <% if article.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :quantite, style: "display: block" %>
    <%= form.number_field :quantite %>
  </div>

  <div>
    <%= form.label :prix, style: "display: block" %>
    <%= form.text_field :prix %>
  </div>

  <div>
    <%= form.label :total, style: "display: block" %>
    <%= form.text_field :total %>
  </div>

  <div>
    <%= form.label :produit_id, style: "display: block" %>
    <%= form.text_field :produit_id %>
  </div>

  <div>
    <%= form.label :commande_id, style: "display: block" %>
    <%= form.text_field :commande_id %>
  </div>

  <div>
    <%= form.label :locvente, style: "display: block" %>
    <%= form.text_field :locvente %>
  </div>

  <div>
    <%= form.label :caution, style: "display: block" %>
    <%= form.text_field :caution %>
  </div>

  <div>
    <%= form.label :totalcaution, style: "display: block" %>
    <%= form.text_field :totalcaution %>
  </div>

  <div>
    <%= form.label :longueduree, style: "display: block" %>
    <%= form.check_box :longueduree %>
  </div>

  <div>
    <%= form.label :commentaires, style: "display: block" %>
    <%= form.text_area :commentaires %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
