<%= turbo_frame_tag "article_form" do %>

<%= form_with(model: article) do |form| %>
  <% if article.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= custom_form_elements(form, 
    [:quantite, :number_field], [:prix, :number_field],
    [:total, :number_field], [:locvente, :check_box],
    [:caution, :number_field], [:longueduree, :check_box], [:commentaires, :text_area])
   %>

  <%= form.hidden_field :produit_id, value: produit_id  %>
  <%= form.hidden_field :commande_id, value: commande_id %>

  <%= custom_submit_button(form) %>

<% end %>


<% end %>
