<%= form_with(model: article) do |form| %>
  <% if article.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>
      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <% form.label :commande_id, style: "display: block" %>
     <%#= form.select :commande_id, Commande.all.collect { |c| [ c.nom, c.id ] },
                     include_blank: true, selected: @commandeId %>
      <%= form.hidden_field(:commande_id, value: @commandeId) %>

  </div>

  <div>
    <% form.label :produit_id, style: "display: block" %>
    <%#= form.select :produit_id, Produit.all.collect { |p| [ p.nom, p.id ] },
                     include_blank: true, selected: @produitId %>
    <%= form.hidden_field(:produit_id, value: @produitId) %>

  </div>

 <% if @produitId.present? %> 
   <%= render "produitLie" %>
   <%= link_to 'Annuler selection', new_article_path(commandeId: @commandeId), class:"btn btn-outline-danger btn-sm" %>
 <br> <br>


<% end %>


 <%# bouton caché validation quantite %>
  <div data-controller="form-element">
    <%= form.button "Validate", formaction: new_article_path, formmethod: :get, data: { turbo_frame: :total_field, form_element_target: "submitbtn" } %>
    <div>
      <%= form.label :quantite, style: "display: block" %>
      <%= form.number_field :quantite, { data: { action: "change->form-element#remotesubmit"}} %>

      <%= form.label :prix, style: "display: block" %>

      <% if @produitId.present? %>
        <% valPrixProduit = Produit.find(@produitId).prix %>
      <% else %>
        <% valPrixProduit = 0 %>
      <% end %>
      

      <%= form.number_field :prix, { data: { action: "change->form-element#remotesubmit"}, value: valPrixProduit} %>

    </div>

  <%= turbo_frame_tag :total_field do %>
     <% valQuantite = form.object.quantite %> 
     <% valPrix = form.object.prix %>
     
     <% if valQuantite.present? && valPrix.present? %>
      <strong> quantite et prix present</strong>
       <% valTotal = valQuantite * valPrix %>
     <% else %>
      <%# valQuantite = article.quantite %> 
      <%# valPrix = Produit.find(@produitId).prix %>
       <%# valTotal = valQuantite * valPrix %>
     <% end %>

      <div>
        <%= form.label :total, style: "display: block" %>
        <%= form.number_field :total, value: valTotal %> <br> 
      </div>
  <% end %>


  <hr>

    <div>
    <%= form.submit "Créer", class: 'btn btn-success' %>
  </div>


 
<% end %>
