  
<%= render "infosCommande" %>

<h1>Nouvel article</h1>

<%#= render "form", article: @article %>
  <%# liste des produits pour selection %>
  <% unless @produitId.present? %> 
    <%= render "listeSelection" %>
  <% end %>

    <%= render "form", article: @article %>

<div>
  <% @commandeId = session[:commandeId] %>
</div>

<div class="m-4"> 
  
  <%= render "sousarticles/sousarticlesLies" %>

  <%= link_to "Nouveau sous article", 
      new_sousarticle_path(articleId: @article), 
      class:"btn btn-sm btn-success" %>

  <%= link_to "Retour", articles_path, 
      class:"btn btn-sm btn-secondary" %>
</div>


test tempo 
  <%= link_to "créer sous articles liés auto", 
     toggle_sousarticleauto_sousarticle_path(id: 1), 
      class:"btn btn-sm btn-warning" %>