<div class="card mx-2 my-3 light-beige-colored shadow-sm">

    <div class="card-header bg-secondary text-light fw-bold">
        <i class="bi bi-file-earmark-post mx-1"></i>
        <span>Commandes liées</span>
    </div>

    <div class="card-body">  
        <% if @commandes_liees.present? %>
          
            <% @commandes_liees.each do |commande|  %>

                <%= link_to commande_path(commande), class: "text-decoration-none" do %>
                    <div class="mx-2 mb-3 p-2 bg-light shadow-sm">
                        <%= custom_badge("", "", "", "fw-bold", commande.client.full_name ) %>
                        <%= custom_badge("", "", "", "", commande.full_name ) %>
                        <%= custom_badge("", "", "", "", commande.type_locvente ) %>
                        <%= custom_badge("", "", "", "", commande.debutloc ) %>
                        <%= custom_badge("", "", "", "", commande.finloc ) %>

                    </div>
                <% end %>
                
            <% end %>
        <% else %>
            <span>Aucune commande</span>
        <% end %>


    </div>
</div>
