<%= turbo_frame_tag "produit_form" do %>

  <div class="card mx-2 mt-3 p-2 light-beige-colored shadow-sm">

    <%= form_with(model: produit) do |form| %>
      <% if produit.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(produit.errors.count, "error") %> prohibited this produit from being saved:</h2>

          <ul>
            <% produit.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= custom_form_elements(form, 
        [:nom, :text_field] ) %>

      <div class="mx-1 px-2">
        <div class="input-group input-group">
          <%= form.label :categorie_produit_id, class: "input-group-text" %>
          <%= form.collection_select :categorie_produit_id, @categorie_produits.all.order(:nom), :id, :nom, 
          { include_blank: 'Select' }, class: "form-select" %>
        </div>
      </div>

      <%= custom_form_elements(form, 
        [:prixvente, :text_field], [:prixlocation, :text_field],
        [:description, :text_area], [:caution, :text_field],
        [:handle, :text_field], [:reffrs, :text_field], [:quantite, :number_field],
        [:fournisseur_id, :text_field], [:dateachat, :date_field], [:prixachat, :text_field]
      ) %>

      <div class="input-group mb-1">
        <%= form.label :image_principale, class:"input-group-text label-with-format" %>
        <%= form.file_field :image1, class:"form-control m-1 p-1" %>
      </div>
      
      <div class="input-group mb-1">
        <%= form.label :images, class:"input-group-text label-with-format" %>
        <%= form.file_field :images, multiple: true, class:"form-control m-1 p-1" %>
      </div>


      <div class="mx-1 px-2">
        <div class="input-group input-group">
          <%= form.label :couleur_id, class: "input-group-text" %>
          <%= form.collection_select :couleur_id, @couleurs.all.order(:nom), :id, :nom, 
          { include_blank: 'Select' }, class: "form-select" %>
        </div>
      </div>

      <div class="mx-1 px-2">
        <div class="input-group input-group">
          <%= form.label :taille_id, class: "input-group-text" %>
          <%= form.collection_select :taille_id, @tailles.all.order(:nom), :id, :nom, 
          { include_blank: 'Select' }, class: "form-select" %>
        </div>
      </div>

      <%= custom_submit_button(form) %>

    <% end %>
  
  
  </div>

<% end %>
