<div id="<%= dom_id produit %>">
  <p>
    <strong>Nom:</strong>
    <%= produit.nom %>
  </p>

  <p>
    <strong>Prixvente:</strong>
    <%= produit.prixvente %>
  </p>

  <p>
    <strong>Prixlocation:</strong>
    <%= produit.prixlocation %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= produit.description %>
  </p>

  <p>
    <strong>Categorie produit:</strong>
    <%= produit.categorie_produit_id %>
  </p>

  <p>
    <strong>Caution:</strong>
    <%= produit.caution %>
  </p>

  <p>
    <strong>Handle:</strong>
    <%= produit.handle %>
  </p>

  <p>
    <strong>Reffrs:</strong>
    <%= produit.reffrs %>
  </p>

  <p>
    <strong>Quantite:</strong>
    <%= produit.quantite %>
  </p>

  <p>
    <strong>Fournisseur:</strong>
    <%= produit.fournisseur_id %>
  </p>

  <p>
    <strong>Dateachat:</strong>
    <%= produit.dateachat %>
  </p>

  <p>
    <strong>Prixachat:</strong>
    <%= produit.prixachat %>
  </p>

</div>
