<div id="<%= dom_id produit %>">
  <p>
    <strong>Nom:</strong>
    <%= produit.nom %>
  </p>

  <p>
    <strong>Image:</strong>
   <%= image_tag(produit.image1, style:"width: 200px") if produit.image1.attached? %> 

  </p>

  <p>
    <strong>QRcode:</strong>
    <%= image_tag(produit.qr_code, style:"width: 100px") if produit.qr_code.attached? %> 

  </p>

   <td> 
  <p>
    <strong>Categorie:</strong>
    <%= produit.categorie %>
  </p>

  <p>
    <strong>Prix:</strong>
    <%= produit.prix %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= produit.description %>
  </p>

</div>
