<div id="<%= dom_id produit %>" class="my-2">
  <div class="card mx-2 mb-3 light-beige-colored shadow-sm">
    <div class="card-body p-0">
      <div class="row g-0">
        <div data-turbo="false" class="col-4">
          <%= link_to image_tag(produit.default_image, class: "img-produit"), produit_path(produit)  %>
        </div>
        <div class="col-8 d-flex flex-column p-4">
          <h5 class="card-title">
            <%= produit.nom %>
            <div data-turbo="false">
              <%= link_to "", "#collapseProduit#{dom_id(produit)}", 
                    class: "btn btn-sm btn-outline-primary fa-solid fa-eye m-1", "data-bs-toggle": "collapse", 
                    role: "button", "aria-expanded": "false", "aria-controls": "collapseProduit#{dom_id(produit)}" %>
            </div>
          </h5>

            <p>
              <%= produit.categorie_produit.nom if produit.categorie_produit %>
            </p>

            <%= produit.description %>

        <div class="container-fluid p-0">
            <%= badge_prixlocation_produit(produit) %>
            <%= badge_prixvente_produit(produit) %>
            <%= badge_couleur_produit(produit) %> 
            <%= badge_taille_produit(produit) %> 
            <p class="m-1 mt-3"><%= badge_disponibilite(produit, Time.now.to_date) %> </p> 
            <%= is_archived(produit) %> 

        </div>
          <div class="mt-auto">


          <% if controller_name == "produits"  && action_name == "show" %>            
            <%= link_to "", dupliquer_produit_path(produitbase: produit.id),
                  class: "fa-solid fa-copy btn btn-sm btn-dark",
                  :onclick => "return confirm('Etes-vous certain de vouloir dupliquer ce produit ?')",
                  title: 'Dupliquer' %>
          <% end %>

            <%= links_record(produit) %>  
          </div>
        </div>
      </div>

      <div class="collapse px-2" id="collapseProduit<%= dom_id(produit) %>">
          <hr>

            <%= image_tag(produit.qr_code, class:"rounded-start") if produit.qr_code.attached? %>

            Autres couleur(s) : 
            <% same_produit_same_taille_others_couleurs(produit).each do |produit| %>
              <%= produit.couleur.nom if produit.couleur %>
            <% end %>

            Autres taille(s) : 
            <% same_produit_same_couleur_others_tailles(produit).each do |produit| %>
              <%= produit.taille.nom if produit.taille %>
            <% end %>
  
            <strong>Caution:</strong>
            <%= produit.caution %>
  
            <strong>Handle:</strong>
            <%= produit.handle %>
  
            <strong>Reffrs:</strong>
            <%= produit.reffrs %>
  
            <strong>Fournisseur:</strong>
            <%= produit.fournisseur&.nom %>
  
              <strong>Quantite:</strong>
              <%= produit.quantite %>

              <strong>Dateachat:</strong>
              <%= produit.dateachat %>
            </p>

            <% if current_user.admin? %>
                <strong>Prixachat:</strong>
                <%= produit.prixachat %>
            <% end %>

      </div>

    </div>
  </div>
</div>
