<div class="card mx-2 my-3 light-beige-colored shadow-sm">

    <div class="card-header bg-secondary text-light fw-bold">
        <i class="fa fa-boxes mx-1"></i>
        <span>Stock</span>
    </div>

    <div class="card-body">         
        <p> Stock initial : <span class="fw-bold"> <%= total_produits(extract_ids(@produit)) %> </span> </p> 
        <p> Total loués : <span class="fw-bold"> <%= total_loues(extract_ids(@produit)) %> </span> </p> 
        <p> Total vendus : <span class="fw-bold"> <%= total_vendus(extract_ids(@produit)) %> </span> </p> 
        <p> Restant : <span class="fw-bold"> <%= produits_restants(extract_ids(@produit), Time.now.to_date) %> </span> </p> 

        <%= badge_disponibilite(@produit, Time.now.to_date) %>

        <p>
           pour tests: <br>
           loc terminées a date:  <%= locations_terminees_a_date(extract_ids(@produit), Time.now.to_date) %>

        </p>

    </div>
</div>
