<div class="card mx-2 mt-3 p-2 light-beige-colored shadow-sm">

  <%= form_with(model: ensemble, url: ensemble.persisted? ? admin_ensemble_path(ensemble) : admin_ensembles_path, method: ensemble.persisted? ? :patch : :post, data: { turbo: true }) do |form| %>
    <% if ensemble.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(ensemble.errors.count, "error") %> prohibited this ensemble from being saved:</h2>

        <ul>
          <% ensemble.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>


    <div class="mx-1 px-2">
      <div class="input-group input-group">
        <%= form.label :parent, class: "input-group-text" %>
        <%= form.collection_select :produit_id, Produit.is_ensemble.order(:nom), :id, :nom, 
        { include_blank: 'Select' }, class: "form-select" %>
      </div>
    </div>

    <div class="mx-1 px-2">
      <div class="input-group input-group">
        <%= form.label :enfant1, class: "input-group-text" %>
        <%= form.collection_select :type_produit1_id, TypeProduit.types_enfants_unique.order(:nom), :id, :nom, 
        { include_blank: 'Select' }, class: "form-select" %>
      </div>
    </div>

    <div class="mx-1 px-2">
      <div class="input-group input-group">
        <%= form.label :enfant2, class: "input-group-text" %>
        <%= form.collection_select :type_produit2_id, TypeProduit.types_enfants_unique.order(:nom), :id, :nom, 
        { include_blank: 'Select' }, class: "form-select" %>
      </div>
    </div>

    <div class="mx-1 px-2">
      <div class="input-group input-group">
        <%= form.label :enfant3, class: "input-group-text" %>
        <%= form.collection_select :type_produit3_id, TypeProduit.types_enfants_unique.order(:nom), :id, :nom, 
        { include_blank: 'Select' }, class: "form-select" %>
      </div>
    </div>

    <div class="mx-1 px-2">
      <div class="input-group input-group">
        <%= form.label :enfant4, class: "input-group-text" %>
        <%= form.collection_select :type_produit4_id, TypeProduit.types_enfants_unique.order(:nom), :id, :nom, 
        { include_blank: 'Select' }, class: "form-select" %>
      </div>
    </div>

    <div class="mx-1 px-2">
      <div class="input-group input-group">
        <%= form.label :enfant5, class: "input-group-text" %>
        <%= form.collection_select :type_produit5_id, TypeProduit.types_enfants_unique.order(:nom), :id, :nom, 
        { include_blank: 'Select' }, class: "form-select" %>
      </div>
    </div>

    <div class="mx-1 px-2">
      <div class="input-group input-group">
        <%= form.label :enfant6, class: "input-group-text" %>
        <%= form.collection_select :type_produit6_id, TypeProduit.types_enfants_unique.order(:nom), :id, :nom, 
        { include_blank: 'Select' }, class: "form-select" %>
      </div>
    </div>


    <%= custom_submit_button(form) %>

  <% end %>

</div>