<%= card_main_model("Type produit", "list-ul") %>

<div class="<%= admin_list_stack_classes %>">
  <%= render @type_produit %>
</div>

<div id="produits" class="<%= admin_list_stack_classes %>">
  <%= render "produits" %>
</div>

<% if @pagy.next.present? %>
  <%= turbo_frame_tag :pagination, loading: :lazy,
                      src: admin_type_produit_path(@type_produit, format: :turbo_stream, page: @pagy.next) %>
<% end %>
