<div id="<%= dom_id texte %>">
  <p>
    <strong>Titre:</strong>
    <%= texte.titre %>
  </p>

  <p>
    <strong>Boutique:</strong>
    <%= texte.boutique %>
  </p>


  <p>
    <strong>Contact:</strong>
      <%= texte.contact %>
  </p>

  <p>
    <strong>Horaire:</strong>
      <%= texte.horaire %>
  </p>

  <p>
    <strong>Adresse:</strong>
      <%= texte.adresse %>
  </p>

  <% if texte.carousel_images %>

    <div class="container-fluid my-2">
        <% texte.carousel_images.each do |image| %>
            <%= image_tag(image, class: "w-25 m-1", style: "object-fit: cover; height: 150px;") %>
        <% end %> 
    </div>
  
  <% end %>


</div>
