<p style="color: green"><%= notice %></p>

<%= render @texte %>

<div>
  <%= link_to "Edit this texte", edit_admin_texte_path(@texte) %> |
  <%= link_to "Back to textes", admin_textes_path %>

  <%= button_to "Destroy this texte", [:admin, @texte], method: :delete %>
</div>
