
<%= turbo_frame_tag "fournisseur_form" do %>

  <div class="card mx-2 mt-3 p-2 light-beige-colored shadow-sm">

    <%= form_with(model: fournisseur, url: fournisseur.persisted? ? admin_fournisseur_path(fournisseur) : admin_fournisseurs_path, method: fournisseur.persisted? ? :patch : :post, data: { turbo: true }) do |form| %>
      <% if fournisseur.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(fournisseur.errors.count, "error") %> prohibited this fournisseur from being saved:</h2>

          <ul>
            <% fournisseur.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= custom_form_elements(form, 
        [:nom, :text_field], [:tel, :text_field], [:mail, :text_field], 
        [:contact, :text_field], [:site, :text_field], [:notes, :text_area]) %>

      <%= custom_submit_button(form) %>

    <% end %>
  
  </div>

<% end %>
