<%= card_main_model("Fournisseur", "buildings") %>

<div class="<%= admin_list_stack_classes %>">
  <%= render @fournisseur %>
</div>

<%= render 'analyse' %>

<%= render 'produits' %>

<hr>

<%= return_model_index_button("Retour vers fournisseurs", admin_fournisseurs_path) %>
