<div id="<%= dom_id commande %>"class="mb-2">

  <div class="card mx-2 mb-3 p-3 light-beige-colored shadow-sm">
    

    <div class="row">
      <div class="col-10">
        <%= link_to commande_path(commande), class: "text-decoration-none text-dark" do %>
          <strong><%= commande.ref_commande %> </strong>

          <span class="m-1"> <%= commande.full_name %> </span>
          <span class="m-1"> <%= commande.type_locvente %> </span>
          <span class="m-1"> <%= commande.typeevent %> </span>


          <%= render partial: 'commandes/toggles_statut', locals: { commande: commande } %>


        <% end %>
      </div>
      <div class="col-2 text-end">
        <%= link_to "", "#collapseCommande#{dom_id(commande)}", 
          class: "btn btn-sm btn-primary fa fa-eye m-1", "data-bs-toggle": "collapse", 
          role: "button", "aria-expanded": "false", "aria-controls": "collapseCommande#{dom_id(commande)}" %>
      </div>
    </div>

    <div class="collapse" id="collapseCommande<%= dom_id(commande) %>">

      <%= field_with_label("nom: ", commande.nom)  %>
      <%= field_with_label("description: ", commande.description)  %>
      <%= field_with_label("debutloc: ", commande.debutloc)  %>
      <%= field_with_label("finloc: ", commande.finloc)  %>
      <%= field_with_label("dateevent: ", commande.dateevent)  %>
      <%= field_with_label("profile_id: ", commande.profile_id)  %>
      <%= field_with_label("commentaires: ", commande.commentaires)  %>
      <%= field_with_label("devis: ", commande.devis)  %>
    
      <%= links_record(commande) %>  

    </div>
  
  </div>

</div>