<div id="<%= dom_id commande %>"class="my-2">

  <div class="card mx-2 my-3 p-3 light-beige-colored shadow-sm">
    
    <p>
      <strong>Nom:</strong>
      <%= commande.nom %>
    </p>

    <p>
      <strong>Montant:</strong>
      <%= commande.montant %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= commande.description %>
    </p>

    <p>
      <strong>Client:</strong>
      <%= commande.client_id %>
    </p>

    <p>
      <strong>Debutloc:</strong>
      <%= commande.debutloc %>
    </p>

    <p>
      <strong>Finloc:</strong>
      <%= commande.finloc %>
    </p>

    <p>
      <strong>Dateevent:</strong>
      <%= commande.dateevent %>
    </p>

    <p>
      <strong>Statutarticles:</strong>
      <%= commande.statutarticles %>
    </p>

    <p>
      <strong>Typeevent:</strong>
      <%= commande.typeevent %>
    </p>

    <p>
      <strong>Profile:</strong>
      <%= commande.profile_id %>
    </p>

    <p>
      <strong>Commentaires:</strong>
      <%= commande.commentaires %>
    </p>

    <p>
      <strong>Commentaires doc:</strong>
      <%= commande.commentaires_doc %>
    </p>

    <p>
      <strong>Location:</strong>
      <%= commande.location %>
    </p>

    <p>
      <strong>Devis:</strong>
      <%= commande.devis %>
    </p>
  
    <%= links_record(commande) %>  

  </div>

</div>