<%= form_with(model: commande) do |form| %>
  <% if commande.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(commande.errors.count, "error") %> prohibited this commande from being saved:</h2>

      <ul>
        <% commande.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nom, style: "display: block" %>
    <%= form.text_field :nom %>
  </div>

  <div>
    <%= form.label :montant, style: "display: block" %>
    <%= form.text_field :montant %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :client_id, style: "display: block" %>
    <%= form.text_field :client_id %>
  </div>

  <div>
    <%= form.label :debutloc, style: "display: block" %>
    <%= form.date_field :debutloc %>
  </div>

  <div>
    <%= form.label :finloc, style: "display: block" %>
    <%= form.date_field :finloc %>
  </div>

  <div>
    <%= form.label :dateevent, style: "display: block" %>
    <%= form.date_field :dateevent %>
  </div>

  <div>
    <%= form.label :statutarticles, style: "display: block" %>
    <%= form.text_field :statutarticles %>
  </div>

  <div>
    <%= form.label :typeevent, style: "display: block" %>
    <%= form.text_field :typeevent %>
  </div>

  <div>
    <%= form.label :profile_id, style: "display: block" %>
    <%= form.text_field :profile_id %>
  </div>

  <div>
    <%= form.label :commentaires, style: "display: block" %>
    <%= form.text_area :commentaires %>
  </div>

  <div>
    <%= form.label :commentaires_doc, style: "display: block" %>
    <%= form.text_area :commentaires_doc %>
  </div>

  <div>
    <%= form.label :location, style: "display: block" %>
    <%= form.check_box :location %>
  </div>

  <div>
    <%= form.label :devis, style: "display: block" %>
    <%= form.check_box :devis %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
