
<h5> Liste des articles </h5>

 <table class="table table-secondary table-striped table-bordered table-hover">
      <thead class="table-dark">
        <tr>
          <th style="text-align: center;">#</th>
          <th colspan="2">produit</th>
          <th class="text-center">quantité</th>
          <th>prix</th>
          <th>total</th>
          <th colspan=2> Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% @articles.each_with_index do | article, i | %>
            <td> <%= i + 1 %> </td>
            <td> 
              <%= image_tag(Produit.find(article.produit_id).default_image, style: "width: 50px; display: block", 
               class: "img-fluid rounded") %> 
            </td>
            <td> <%= Produit.find(article.produit_id).nom %> </td>
            <td class="text-center"> <%= article.quantite %> </td>
            <td class="text-end"> <%= article.prix %> </td>
            <td class="text-end"> <%= article.total %> </td>
            <td> <%= link_to "", edit_article_path(article, produitId: article.produit_id, commandeId: article.commande_id), class:"fa-regular fa-pen-to-square btn btn-secondary btn-sm" %> </td> 
            <td> <%= button_to '', article, class:"fa-solid fa-trash-can btn btn-danger btn-sm", method: :delete, :onclick => "return confirm('Sûr ?')" %>  </td> 
        </tr> 
        <% end %>
      </tbody>

      <tfoot class="table-dark fs-bold">
        <tr>
          <td colspan=3>  
            totaux
          </td>
          <td class="text-center">
            <%= Article.commande_courante(@commande).compte_articles %>
          </td>
          <td></td>
          <td class="text-end">
            <%= Article.commande_courante(@commande).sum_articles %>
          </td>
          <td colspan=3>
          </td>
        </tr>
        
      </tfoot>
    </table>

           