
<%= card_main_model("Commande", "file") %>

<%= render @commande %>

<%= render partial: 'clients/client_mini', locals: { client: @commande.client } %>

<%= render 'articles/articles' %>

<!--div class="text-end m-2 mb-3">
    <%= button_to "Nouvel article", selection_articles_commandes_path, class: "btn btn-warning fw-bold" %>
</div>

<div id="partial-selection" class="">
</div-->

<%= render 'paiement_recus/paiement_recus' %>





<hr>

<%= return_model_index_button("Retour vers commandes", commandes_path) %>

