<p style="color: green"><%= notice %></p>

<%= render @categorie_produit %>

<div>
  <%= link_to "Edit this categorie produit", edit_categorie_produit_path(@categorie_produit) %> |
  <%= link_to "Back to categorie produits", categorie_produits_path %>

  <%= button_to "Destroy this categorie produit", @categorie_produit, method: :delete %>
</div>
