
<% if user_signed_in? %>
    <% if current_user.admin? %>

        <%= bandeau_entete("Comptes", "person-circle", "", "", "") %>

        <div class="card mx-2 my-3 p-3 light-beige-colored shadow-sm">
            <div class="mx-2">
                <h5 class="fw-bold"> Liste des utilisateurs 
                    <span class="mx-1 badge bg-warning"> <%= @users.count %> </span>
                </h5>

                <div class="table-responsive">
                <table  class="table table-striped table-bordered table-hover">  
                    <thead class="table-secondary text-center">
                    <tr>
                        <th> # </th>
                        <th> email </th>
                        <th> changer role </th>
                    </tr>
                    </thead>
                    <tbody>
                    <% @users.each do |user| %>
                        <tr>
                            <td class="col-1 text-center"> <%= user.id %> </td>
                            <td class="col-7"> <%= user.email %> </td>   
                            <td class="col-5 d-flex gap-1 text-center"> 
                                <%= link_to "Vendeur", toggle_status_vendeur_user_path(user), class:"btn btn-sm btn-primary", 
                                :onclick => "return confirm('Etes-vous certain de vouloir passer cet utilisateur en Vendeur ?')" %> 
                                <%= link_to "Admin", toggle_status_admin_user_path(user), class:"btn btn-sm btn-dark", 
                                :onclick => "return confirm('Etes-vous certain de vouloir passer cet utilisateur en Admin ?')" %> 
                            </td>

                        </tr>
                    <% end %>
                    </tbody>
                </table>
                </div>
            </div>
        </div>

        <div class="card mx-2 my-3 p-3 light-beige-colored shadow-sm">

            <div class="mx-2">
                <h5 class="fw-bold"> Liste des vendeurs 
                    <span class="mx-1 badge bg-warning"> <%= @vendeurs.count %> </span>
                </h5>

                <div class="table-responsive">
                <table  class="table table-striped table-bordered table-hover">  
                    <thead class="table-secondary text-center">
                    <tr>
                        <th> # </th>
                        <th> email </th>
                        <th> changer role </th>
                    </tr>
                    </thead>
                    <tbody>
                    <% @vendeurs.each do |user| %>
                        <tr>
                            <td class="col-1 text-center"> <%= user.id %> </td>
                            <td class="col-7 "> <%= user.email %> </td>   
                            <td class="col-5 d-flex gap-1 text-center"> 
                                <%= link_to "User", toggle_status_user_user_path(user), class:"btn btn-sm btn-secondary", 
                                    :onclick => "return confirm('Etes-vous certain de vouloir passer cet utilisateur en User ?')" %> 
                                <%= link_to "Admin", toggle_status_admin_user_path(user), class:"btn btn-sm btn-dark", 
                                    :onclick => "return confirm('Etes-vous certain de vouloir passer cet utilisateur en Admin ?')" %> 
                        </td>

                        </tr>
                    <% end %>
                    </tbody>
                </table>
                </div>
            </div>
        </div>

        <div class="card mx-2 my-3 p-3 light-beige-colored shadow-sm">

            <div class="mx-2">
                <h5 class="fw-bold"> Liste des admins 
                    <span class="mx-1 badge bg-warning"> <%= @admins.count %> </span>
                </h5>

                <div class="table-responsive">
                <table  class="table table-striped table-bordered table-hover">  
                    <thead class="table-secondary text-center">
                    <tr>
                        <th> # </th>
                        <th>email </th>
                        <th>changer rôle</th>
                    </tr>
                    </thead>

                    <tbody>
                    <% @admins.each do |user| %>
                        <tr>
                            <td class="col-1 text-center"> <%= user.id %> </td>
                            <td class="col-7"> <%= user.email %> </td>   
                            <td class="col-5 d-flex gap-1 text-center"> 
                                <%= link_to "User", toggle_status_user_user_path(user), class:"btn btn-sm btn-secondary", 
                                    :onclick => "return confirm('Etes-vous certain de vouloir passer cet Admin en User ?')" %> 

                                <%= link_to "Vendeur", toggle_status_vendeur_user_path(user), class:"btn btn-sm btn-primary", 
                                    :onclick => "return confirm('Etes-vous certain de vouloir passer cet Admin en Vendeur ?')" %> 
                            </td>
                            
                        </tr>
                    <% end %>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    <% end %>

<% else %>
    Vous devez être connecté(e) à un compte Admin
    <%= render "home_admin/demande_connexion" %>
<% end %>

