
<div class="text-center">
  <ul>
    <li style="display:inline">
      <%= link_to "Robes de Soirées", clients_path, class:"btn btn-sm", style:"color: white; background-color: rgb(204, 46, 102); margin:4px;" %>
     </li>
     <li style="display:inline">
       <%= link_to "Robes de Mariées", 'robes_mariees', class:"btn btn-sm", style:"color: white; background-color: rgb(204, 46, 102); margin:4px;" %>
     </li>
     <li style="display:inline">
       <%= link_to "Costumes Hommes", 'costumes_hommes', class:"btn btn-sm", style:"color: white; background-color: rgb(204, 46, 102); margin:4px;" %>
     </li>
     <li style="display:inline">
       <%= link_to "Accessoires", root_path, class:"btn btn-sm", style:"color: white; background-color: rgb(204, 46, 102); margin:4px;" %>
     </li>
     <li style="display:inline">
       <%= link_to "Costumes & Déguisements", root_path, class:"btn btn-sm", style:"color: white; background-color: rgb(204, 46, 102); margin:4px;" %>
     </li>
  </ul>
</div>