<div id="<%= dom_id client %>">

<div class="card text-bg-dark mb-3" style="max-width: 18rem;">
  <div class="card-header border-light"> <%= client.nom %> </div>
    <div class="card-body">
      <h5 class="card-title"> mail: <%= client.mail %></h5>
      <p class="card-text"> commentaires: <%= client.commentaires %></p>
    </div>
    <div class="card-footer border-light">
    <table>
     <tr>
        <td>
          <%= link_to '', client, class:"fa-solid fa-eye btn btn-primary btn-sm" %>
       </td>
       <td>   
        <%= button_to "", edit_client_path(client), class:"fa-regular fa-pen-to-square btn btn-sm btn-secondary", method: :post %> 
       </td>
       <td>
         <%= button_to '', client_path(client), class:"fa-solid fa-trash-can btn btn-danger btn-sm", method: :delete %> 
       </td>
     </tr>
    </table>
    </div>
  </div>
</div>