<div id="<%= dom_id client %>"class="my-2">

  <%= card_main_model("Client", "user") %>

  <div class="card mx-2 mb-3 p-1 light-beige-colored shadow-sm">

  <div class="row">
    <div class="col-10">

        <%= custom_badge("", "", "", "fw-bold",  client.full_name) %>
        <%= custom_badge("fa-phone", "", "", "", client.tel) %>
        <%= custom_badge("fa-at", "", "", "", client.mail) %>
        
        <%= link_to "", "#collapseClient", class: "btn btn-sm btn-outline-primary bi bi-eye", "data-bs-toggle": "collapse", role: "button", "aria-expanded": "false", "aria-controls": "collapseExample" %>
    </div>
    
    <div class="col-2 text-end">
        <%= links_record(client) %>  

    </div>
  </div>
  

    <div class="collapse" id="collapseClient">

        <%= field_with_label("Commentaires: ", client.commentaires)  %>
        <%= field_with_label("", client.propart)  %>
        <%= field_with_label("intitule", client.intitule)  %>
        <%= field_with_label("tel2", client.tel2)  %>
        <%= field_with_label("mail2", client.mail2)  %>
        <%= field_with_label("adresse", client.adresse)  %>
        <%= field_with_label("cp", client.cp)  %>
        <%= field_with_label("ville", client.ville)  %>
        <%= field_with_label("pays", client.pays)  %>
        <%= field_with_label("contact", client.contact)  %>

    </div>

  </div>

</div>