<%= turbo_frame_tag "client_form" do %>

  <div class="card mx-2 mb-3 p-2 light-beige-colored shadow-sm">

    <%= form_with(model: client) do |form| %>
      <% if client.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

          <ul>
            <% client.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>


      <%= custom_form_elements(form, 
        [:prenom, :text_field], [:nom, :text_field],
        [:commentaires, :text_area], [:propart, :text_field],
        [:intitule, :text_field], [:tel, :text_field], [:tel2, :number_field],
        [:mail, :text_field], [:mail2, :date_field], [:adresse, :text_field],
        [:cp, :text_field], [:ville, :text_field], [:pays, :text_field], [:contact, :text_field]
      ) %>

      <%= custom_submit_button(form) %>

    <% end %>

  </div>

<% end %>