
<div class="container-fluid d-flex flex-wrap gap-1">
    <div>
        <%= filter_dropdown(
            label: "Catégorie",
            icon: "bi bi-layers",
            param_key: :filter_categorie,
            collection: @categorie_produits,
            model: CategorieProduit,
            current_params: params.permit(:filter_taille, :filter_couleur, :filter_statut),
            all_label: "Toutes les catégories"
        ) %>
    </div>
    <div>
        <%= filter_dropdown(
            label: "Taille",
            icon: "bi bi-rulers",
            param_key: :filter_taille,
            collection: @tailles,
            model: Taille,
            current_params: params.permit(:filter_couleur, :filter_categorie, :filter_statut),
            all_label: "Toutes les tailles"
        ) %>
    </div>
    <div>
        <%= filter_dropdown(
            label: "Couleur",
            icon: "bi bi-palette",
            param_key: :filter_couleur,
            collection: @couleurs,
            model: Couleur,
            current_params: params.permit(:filter_taille, :filter_categorie, :filter_statut),
            all_label: "Toutes les couleurs"
        ) %>
    </div>
    <div>
        <%= filter_dropdown(
            label: "Statut",
            icon: "bi bi-bookmark-check",
            param_key: :filter_statut,
            current_params: params.permit(:filter_taille, :filter_couleur, :filter_categorie)
        ) %>
    </div>

    <div class="ms-auto">
        <%= sort_dropdown(params.permit(:filter_taille, :filter_couleur, :filter_categorie, :filter_statut)) %>
    </div>
    <div>
        <%= link_to admin_produits_path, class: 'btn btn-sm btn-outline-danger rounded' do %>
            <i class="bi bi-xl bi-x-circle"></i>
        <% end %>
    </div>

</div>


