
<div class="container-fluid d-flex flex-wrap gap-1">
    <div>
        <%= filter_dropdown(
            label: "Catégorie",
            icon: "bi bi-layers",
            param_key: :filter_categorie,
            collection: @categorie_produits,
            model: CategorieProduit,
            current_params: listing_params_with_search(params.permit(:filter_taille, :filter_couleur, :filter_statut, :filter_fournisseur, :filter_mode)),
            all_label: "Toutes les catégories",
            columns: 2
        ) %>
    </div>
    <div>
        <%= filter_dropdown(
            label: "Taille",
            icon: "bi bi-rulers",
            param_key: :filter_taille,
            collection: @tailles,
            model: Taille,
            current_params: listing_params_with_search(params.permit(:filter_couleur, :filter_categorie, :filter_statut, :filter_fournisseur, :filter_mode)),
            all_label: "Toutes les tailles",
            columns: 2
        ) %>
    </div>
    <div>
        <%= filter_dropdown(
            label: "Couleur",
            icon: "bi bi-palette",
            param_key: :filter_couleur,
            collection: @couleurs,
            model: Couleur,
            current_params: listing_params_with_search(params.permit(:filter_taille, :filter_categorie, :filter_statut, :filter_fournisseur, :filter_mode)),
            all_label: "Toutes les couleurs",
            columns: 2
        ) %>
    </div>
    <div>
        <%= filter_dropdown(
            label: "Statut",
            icon: "bi bi-bookmark-check",
            param_key: :filter_statut,
            current_params: listing_params_with_search(params.permit(:filter_taille, :filter_couleur, :filter_categorie, :filter_fournisseur, :filter_mode))
        ) %>
    </div>
    <div>
        <%= filter_dropdown(
            label: "Fournisseur",
            icon: "bi bi-buildings",
            param_key: :filter_fournisseur,
            collection: @fournisseurs,
            model: Fournisseur,
            current_params: listing_params_with_search(params.permit(:filter_taille, :filter_couleur, :filter_categorie, :filter_statut, :filter_mode)),
            columns: 2
        ) %>
    </div>
    <div>
        <%= filter_dropdown(
        label: "Mode",
        icon: "bi bi-zoom-in",
        param_key: :filter_mode,
        current_params: listing_params_with_search(params.permit(:filter_taille, :filter_couleur, :filter_categorie, :filter_statut, :filter_fournisseur))
        ) %>
    </div>

    <div class="ms-auto">
        <%= sort_dropdown(listing_params_with_search(params.permit(:filter_taille, :filter_couleur, :filter_categorie, :filter_statut, :filter_fournisseur, :filter_mode))) %>
    </div>
    <div>
        <%= link_to admin_produits_path, class: 'btn btn-sm btn-outline-danger rounded' do %>
            <i class="bi bi-xl bi-x-circle"></i>
        <% end %>
    </div>

</div>


