<%#= turbo_frame_tag "produit_form" do %>

<div class="card mx-2 mt-3 p-2 light-beige-colored shadow-sm">

  <%= form_with(model: produit, url: produit.persisted? ? admin_produit_path(produit) : admin_produits_path, method: produit.persisted? ? :patch : :post, data: { turbo: true }) do |form| %>

    <% if produit.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(produit.errors.count, "error") %> prohibited this produit from being saved:</h2>
        <ul>
          <% produit.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row g-0">

      <!-- Image Column -->
      <div class="col-sm-4 p-1 text-center">

        <% if produit.persisted? && produit.save %>
          <div class="container text-center p-2">
            <%= image_tag(produit.default_image, class: "img-fluid rounded") %>
          </div>
        <% end %>

      </div>
      
      <!-- Text Column -->
      <div class="col-sm-8">

        <%= custom_form_elements(form,
          [:nom, :text_field],
          [:type_produit_id, :collection_select, nil, {
            collection: @type_produits.all.order(:nom),
            value_method: :id,
            label_method: :nom,
            select_options: { include_blank: '' }}],
          [:prixvente, :number_field, "Prix vente TTC", { step: "any" }],
          [:prixlocation, :number_field, "Prix location TTC", { step: "any" }],
          [:poids, :number_field, "Poids (grammes)", { step: "any" }],
          [:description, :text_area], 
          [:quantite, :number_field],
          [:dateachat, :date_field, "date d'achat"],
          [:reffrs, :text_field],
          [:fournisseur_id, :collection_select, nil, {
            collection: @fournisseurs.all.order(:nom),
            value_method: :id,
            label_method: :nom,
            select_options: { include_blank: '' }
          }],
          [:image1, :file_field, "Image principale", { class: "form-control m-1 p-1" }],
          [:images, :file_field, "Images (multiples)", { multiple: true, class: "form-control m-1 p-1" }],
          [:video1, :file_field, "Vidéo", { class: "form-control m-1 p-1" }]

        ) %>

      
      <div class="mx-1">

        <% if current_admin_user.admin? %>
          <div class="input-group mb-1">
            <%= form.label :prixachat, "Prix achat HT", class: "input-group-text" %>
            <%= form.number_field :prixachat, step: "any", class: "form-control" %>
          </div>
        <% end %>


        <% if produit.persisted? && produit.save %>
          <% if produit.images.any? %>
            <div> Images actuelles:</div>
            <div class="mb-1">
              <% produit.images.each do |image| %>
                <% if image.present? %>
                    <%= image_tag image, width: 100 %>

                    <%= link_to '', delete_image_attachment_admin_produit_path(produit, image_id: image.id),
                      class: 'btn btn-outline-danger bi bi-trash', method: :delete %>

                <% end %>
              <% end %>
            </div>
          <% end %>
        <% end %>

        <div class="input-group mb-1">
          <%= form.label :couleur_id, class: "input-group-text" %>
          <%= form.collection_select :couleur_id, @couleurs.all.order(:nom), :id, :nom, 
          { include_blank: '' }, class: "form-select" %>
        </div>

        <div class="input-group mb-1">
          <%= form.label :taille_id, class: "input-group-text" %>
          <%= form.collection_select :taille_id, @tailles.all.order(:nom), :id, :nom, 
          { include_blank: '' }, class: "form-select text-uppercase" %>
        </div>
      </div>
      
        <%= custom_form_elements(form, 
          [:actif, :check_box], 
          [:eshop, :check_box]    
        ) %>

        <div class="input-group mb-1">
          <%= form.label :categorie_produit_ids, "Catégories", class: "form-label fw-bold" %>
          <div class="form-check">
            <%= form.collection_check_boxes :categorie_produit_ids, @categorie_produits.order(:nom), :id, :nom do |b| %>
              <div class="form-check form-check-inline">
                <%= b.check_box class: "form-check-input" %>
                <%= b.label class: "form-check-label" %>
              </div>
            <% end %>
          </div>
        </div>

      </div>


      <%= custom_submit_button(form) %>

    </div>
  
  <% end %>

</div>

<%# end %>
