<div class="card mx-2 my-3 light-beige-colored shadow-sm">

    <div class="card-header bg-secondary text-light fw-bold">
        <i class="bi bi-boxes mx-1"></i>
        <span>Stock</span>
    </div>

    <div class="card-body">         
        <p> 
            Stock initial : <span class="fw-bold"> <%= total_produits(extract_ids(@produit)) %> </span> 
            <% if Produit.is_ensemble.exists?(id: @produit.id) %>
                Stock illimité pour ensemble
            <% end %>
         </p> 

        <hr>

        <p> Total loués : <span class="fw-bold"> <%= total_loues(extract_ids(@produit)) %> </span> </p> 
        <p> Total vendus : <span class="fw-bold"> <%= total_vendus(extract_ids(@produit)) %> </span> </p> 

        <% statut = statut_disponibilite(@produit, Date.today.to_date, Date.today.to_date) %>

        <p> Loués en ce moment : <span class="fw-bold"> <%= statut[:loues_a_date] %> </span> </p> 
        <p> Disponibles : <span class="fw-bold"> <%= statut[:disponibles] %> </span> </p> 

    </div>
</div>
