<%= bandeau_entete("Produits", "person-standing-dress", @count_produits, 
      :nom_or_reffrs_or_handle_or_categorie_produits_nom_or_type_produit_nom_or_couleur_nom_or_taille_nom_cont,
      admin_produits_path) %>

<%= bloc_nouveau(Produit) %>

<%= render "filtres" %>

<% if @analysis_mode %>
      <div class="card small mx-2 mb-1 light-beige-colored shadow-sm mt-2 mb-3 p-2">
            <div class="fw-bold"> Analyse : </div>
            <div> Produits sélectionnés : <%= @produits_analyse_count %> </div>
            <div> Stock : <%= @stock_disponible_total %> </div>

            <div> 
                  Tailles (<%= @tailles_count %>) :
                  <% @tailles_utilisees.each do |taille| %>
                        <span class="me-1"><%= taille.nom %> </span>
                  <% end %>
            </div>

            <div> 
                  Couleurs (<%= @couleurs_count %>) :
                  <% @couleurs_utilisees.each do |couleur| %>
                        <span class="me-1"><%= couleur.nom %> </span>
                  <% end %>
            </div>

      </div>
<% end %>

<%= turbo_frame_tag :results, data: {turbo_action: 'advance'} do %>

      <div id="produits"> </div> 


      <%= turbo_frame_tag :pagination, loading: :lazy, 
            src: admin_produits_path(format: :turbo_stream,
            filter_taille: params[:filter_taille], 
            filter_couleur: params[:filter_couleur], 
            filter_categorie: params[:filter_categorie],
            filter_statut: params[:filter_statut],
            filter_mode: params[:filter_mode],
            sort: params[:sort],
            q: params[:q]&.to_unsafe_h) %>
<% end %>


