
<%= card_main_model("Produit", "person-standing-dress") %>

<div class="<%= admin_list_stack_classes %>">
    <%= render @produit %>


<div class="<%= admin_list_stack_classes %>">
    <%= render 'stock' %>
</div>

<%# afficher les commandes avec cet article triées par date %>

<%= render 'commandes_liees' %>

<%= return_model_index_button("Retour vers produits", admin_produits_path) %>