<%#= turbo_frame_tag "commande_form" do %>

  <div class="card mx-2 mb-3 p-2 light-beige-colored shadow-sm">

    <%= form_with(model: commande, url: commande.persisted? ? admin_commande_path(commande) : admin_commandes_path, method: commande.persisted? ? :patch : :post, data: { turbo: true }) do |form| %>
      <% if commande.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(commande.errors.count, "error") %> prohibited this commande from being saved:</h2>

          <ul>
            <% commande.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%#= custom_form_elements(form, 
        [:nom, :text_field] ) %>

      <div class="m-1">
        <div class="input-group">
        
          <% if @client %>
            <%= form.hidden_field :client_id, value: @client.id %>
          <% else %>
            <%= form.label :client_id, class: "input-group-text" %>
            <%= form.select :client_id, 
              options_for_select(Client.all.order(:nom).pluck(:nom, :id)),
              { include_blank: '' },
              { class: "form-select" } %>
          <% end %>

        </div>
      </div>

      <div class="mx-1">
        <div class="input-group mb-1">
          <%= form.label :profile_id, class: "input-group-text" %>
          <%= form.collection_select :profile_id, @profiles.all.order(:nom), :id, :full_name, 
          { include_blank: 'Select' }, class: "form-select" %>
        </div>

        <div class="input-group">
          <%= form.label :typeevent, "Evénement", class: "input-group-text" %>
          <%= form.select :typeevent, Commande::EVENEMENTS_OPTIONS, { include_blank: '' }, class: "form-select" %>
        </div>
        
      </div>

      <%= custom_form_elements(form, 
        [:dateevent, :date_field, "Date événement"]
      ) %>


      <%# nouveau date fields debut et fin %>
    
      <div data-controller="date-fields-commande" class="mx-1">
        <div class="input-group mb-1">
          <%= form.label :debutloc, "Début location", class: "input-group-text label-with-format" %>
          <%= form.date_field :debutloc,
                class: "form-control",
                data: { action: "change->date-fields-commande#updateDateFin", date_fields_commande_target: "debutloc" } %>
        </div>

        <div class="input-group mb-1">
          <%= form.label :finloc, "Fin location", class: "input-group-text label-with-format" %>
          <%= form.date_field :finloc,
                class: "form-control",
                data: { date_fields_commande_target: "finloc" } %>
        </div>
      </div>



      <%= custom_form_elements(form, 
      #  [:debutloc, :date_field, "Début location"], [:finloc, :date_field, "Fin location"], 
      #  [:dateevent, :date_field, "Date événement"],
        [:description, :text_area], 
        [:commentaires, :text_area], [:devis, :check_box]
      ) %>

      <div class="container-fluid d-flex">
        <div class="form-check mx-2">
          <%= form.radio_button :type_locvente, "location", class: "form-check-input", id: "flexRadioDefault1", autocomplete: "off" %>
          <%= form.label :type_locvente_location, "Location", class: "form-check-label", for: "flexRadioDefault1" %>
        </div>

        <div class="form-check mx-2">
          <%= form.radio_button :type_locvente, "vente", class: "form-check-input", id: "flexRadioDefault2", autocomplete: "off" %>
          <%= form.label :type_locvente_vente, "Vente", class: "form-check-label", for: "flexRadioDefault2" %>
        </div>

        <div class="form-check mx-2">
          <%= form.radio_button :type_locvente, "mixte", class: "form-check-input", id: "flexRadioDefault3", autocomplete: "off" %>
          <%= form.label :type_locvente_mixte, "Mixte", class: "form-check-label", for: "flexRadioDefault3" %>
        </div>

      </div>

      <%= custom_submit_button(form) %>




    <% end %>
  
  </div>

<%# end %>
