<%= card_main_model("Taille", "rulers") %>

<div class="<%= admin_list_stack_classes %>">
  <%= render @taille %>
</div>

<div id="produits" class="<%= admin_list_stack_classes %>">
  <%= render 'produits' %>
</div>

<% if @pagy.next.present? %>
  <%= turbo_frame_tag :pagination, loading: :lazy,
                      src: admin_taille_path(@taille, format: :turbo_stream, page: @pagy.next) %>
<% end %>

<%= return_model_index_button("Retour vers tailles", admin_tailles_path) %>
