
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>

<h4 class="h4-doc"> 
  <%= "Devis" if @commande.devis? %>
  
  <strong> 
    <%= @commande.ref_commande %> 
    <%= @type_doc %> 
  </strong>

</h4>

<%= render "pdf_commande/infos" %>
<%= render "pdf_commande/articles" %> 
<%#= render "pdf_commande/paiements" %> 
<%#= render "pdf/docListeAvoirrembs" %> 
<%#= render "pdf/docListeSynthese" %> 

