<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Document</title>
</head>

<br> 
<h4 class="h4-doc"> 
  <%= "Devis" if @doc_edition.commande.devis? %>
  
  <strong> 
    <%= @doc_edition.commande.ref_commande %> 
    <%= @doc_edition.doc_type %> 
  </strong> 

</h4>

<%= render "pdf_commande/infos" %> <br>
<%= render "pdf_commande/articles" %> 
<%= render "pdf_commande/paiements" %> 
<%= render "pdf_commande/avoirrembs" %> 
<%= render "pdf_commande/synthese" %> 

