<div id="<%= dom_id admin_parameter %>" class="my-2">
  <div class="card mx-2 mb-3 p-2 light-beige-colored shadow-sm">
    <p>
      <strong>Tx tva:</strong>
      <%= admin_parameter.tx_tva %>
    </p>

    <p>
      <strong>coef_prix_achat_location:</strong>
      <%= admin_parameter.coef_prix_achat_location %>
    </p>

     <p>
      <strong>majoration longueduree:</strong>
      <%= admin_parameter.coef_longue_duree %>
    </p>
    
    <p>
      <strong>durée rdv par défaut:</strong>
      <%= admin_parameter.duree_rdv %>
    </p>
    

    <%= links_record(admin_parameter) %>  

  </div>
</div>
