
<div class="container-edition">

  <table>

    <% @produits.each_slice(2).with_index do |produits_pair, index| %> 
      <tr>
        <% produits_pair.each do |produit| %>
          <% if produit.present? %>
            <td style="border: 1px solid #ccc; padding: 10px;">
              <!-- Container for each product -->
              <div style="width: 450px; margin: 20px;">

                <!-- Header Section (Image) -->
                <div class="text-center" style="height: 410px; padding: 10px; box-sizing: border-box; overflow: hidden;">
                  <%= image_tag(produit.default_image, class: "img-fluid text-center") %>

                  <% if produit.image1.present? %>
                    <%= image_tag(produit.image1, class: "img-fluid") %>                    
                  <% else %>
                    <%= image_tag wicked_pdf_asset_path('/images/no_photo.png'), class: "img-fluid" %>
                  <% end %>


                </div>

                <!-- Body Section (Product Name) -->
                <div style="height: 50px; padding: 10px; box-sizing: border-box; overflow: hidden;">
                  <h3 class="bolded text-dark text-center"> <%= produit.nom %> </h3> 
                </div>

                <!-- Pricing Section -->
                <div class="text-center" style="height: 50px; padding: 10px; box-sizing: border-box; overflow: hidden;">
                  <span>Location: <%= number_to_currency(produit.prixlocation, locale: :fr, precision: 0) %></span> - 
                  <span>Vente: <%= number_to_currency(produit.prixvente, locale: :fr, precision: 0) %></span>
                </div>

                <!-- Footer Section ( tailles and colors) -->
                <div style="height: 160px; margin-top: 15px; padding: 10px; 
                            box-sizing: border-box; overflow: hidden; vertical-align: middle;">
                 
                  <table>
                    <tr>
                      <td>
                        <%= image_tag(produit.qr_code, class:"img-fluid") if produit.qr_code.present? %>              
                      </td>
                      
                      <td class="p-2">
                    
                        <div>
                          Taille(s) : 
                          <% if produit.taille.present? %>
                            <span class="text-dark p-1" style="border: 2px solid black; border-radius: 10px;"> 
                              <%= produit.taille&.nom %>
                            </span>
                      
                            <hr>

                            <% same_produit_same_couleur_others_tailles(produit).each do |produit| %>
                              <span class="p-1" style="color: grey; border: 2px solid grey; border-radius: 10px;"> 
                                <%= produit.taille.nom if produit.taille&.nom %>
                              </span>
                            <% end %>
                              
                          <% end %>
                        </div>

                        <hr>

                        <div class="">  
                          Couleur(s) : 
                          <% if produit.couleur.present? %>
                            <span class="text-dark p-1" style="border: 2px solid black; border-radius: 10px;"> 
                              <span> <%= produit.couleur&.nom %> </span> 
                              <div class="" style="display: inline-block; width: 15px; height: 15px; border-radius: 50%; margin-right: 10px; background-color: <%= produit.couleur.couleur_code %>"></div>
                            </span>

                            <hr>

                            <% same_produit_same_taille_others_couleurs(produit).each do |produit| %>
                              
                              <span class="text-secondary p-1 m-1" style="color: grey; border: 2px solid grey; border-radius: 10px;"> 
                                <span> <%= produit.couleur&.nom %> </span> 
                                <div class="" style="display: inline-block; width: 15px; height: 15px; border-radius: 50%; background-color: <%= produit.couleur.couleur_code %>"></div>
                              </span>
                            <% end %>
                          <% end %>
                          
                        </div>
                      </td>

                    </tr>
                  </table>

                </div>

              </div>
            </td>
          <% end %>
        <% end %>


      </tr>
    <% end %>
  </table>

</div>


<div class="page-break"></div>  <%# changement de page vers verso %>

<div class="container-edition">

  <table>

    <% @produits.each_slice(2).with_index do |produits_pair, index| %> 
      <tr>
        <% produits_pair.each do |produit| %>
          <% if produit.present? %>
            <td style="border: 1px solid #ccc; padding: 10px;">
              <!-- Container for each product -->
              <div style="width: 450px; margin: 20px;">

                <!-- Header Section (Image) -->
                <div style="height: 685px; padding: 10px; box-sizing: border-box; overflow: hidden;">

                  <% 12.times do %>  
                    <hr class="hr-doted">
                  <% end %>

                  
                </div>  
              </div>
            </td>
          <% end %>
        <% end %>
      
      </tr>
    
    <% end %>
  
  </table>    

</div>     

