<p style="color: green"><%= notice %></p>

<%= render @modelsousarticle %>

<div>
  <%= link_to "Edit this modelsousarticle", edit_modelsousarticle_path(@modelsousarticle) %> |
  <%= link_to "Back to modelsousarticles", modelsousarticles_path %>

  <%= button_to "Destroy this modelsousarticle", @modelsousarticle, method: :delete %>
</div>
