
<%= form_with(model: sousarticle) do |form| %>
  <% if sousarticle.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(sousarticle.errors.count, "error") %> prohibited this sousarticle from being saved:</h2>

      <ul>
        <% sousarticle.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div>
    <% form.label :article_id, style: "display: block" %>
    <%#= form.select :article_id, Article.all.collect { |a| [ a.id, a.id ] },  include_blank: true %>
    <%= form.number_field(:article_id, value: @articleId) %>
  </div>

  <div>
    <%= form.label :nature, style: "display: block" %>
    <%= form.select(:nature, Sousarticle.natures.keys, {include_blank: true}) %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>
  <div>
    <%= form.label :prix_sousarticle, style: "display: block" %>
    <%= form.number_field :prix_sousarticle %>
  </div>
  <div>
    <%= form.label :caution, style: "display: block" %>
    <%= form.number_field :caution %>
  </div>
  <div>
    <%= form.label :taille, style: "display: block" %>
    <%= form.text_field :taille %>
  </div> <br>

  <div>
    <%= form.submit "Créer", class: 'btn btn-success' %>
  </div>
<% end %>
