<div id="<%= dom_id sousarticle %>">
  <p>
    <strong>Article:</strong>
    <%= sousarticle.article_id %>
  </p>

  <p>
    <strong>Produit:</strong>
    <%= sousarticle.produit_id %>
  </p>

  <p>
    <strong>Nature:</strong>
    <%= sousarticle.nature %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= sousarticle.description %>
  </p>

  <p>
    <strong>Prix:</strong>
    <%= sousarticle.prix %>
  </p>

  <p>
    <strong>Caution:</strong>
    <%= sousarticle.caution %>
  </p>

  <p>
    <strong>Commentaires:</strong>
    <%= sousarticle.commentaires %>
  </p>

</div>
