<div id="<%= dom_id sousarticle %>" class="card mb-2 p-2">
    <%#= sousarticle.article_id %>
    <%#= sousarticle.produit_id %>

    <div class="row d-flex align-items-center">

      <div class="col-2 text-center">
        <%= image_tag(sousarticle.produit.default_image, width: 50) %>  
      </div>

      <div class="col">

        <h6 class="fw-bold"> <%= sousarticle.produit.nom %>  </h6>

        <%= sousarticle.produit&.couleur&.nom %> 
        <%= "taille:  #{sousarticle.produit&.taille&.nom}" if sousarticle.produit.taille.present?  %> 

        <%= "nature:  #{sousarticle.nature}" if sousarticle.nature.present? %> 
        <%= "description:  #{sousarticle.description}" if sousarticle.description.present? %> 
        <%= "prix:  #{sousarticle.prix}" if sousarticle.prix.present? %> 
        <%= "caution:  #{sousarticle.caution}" if sousarticle.caution.present? %> 
        <%= "commentaires:  #{sousarticle.commentaires}" if sousarticle.commentaires.present? %> 

      </div>

      <div class="col text-end">
        <%= link_to "", "#collapseSousarticle#{dom_id(sousarticle)}", 
              class: "btn btn-sm btn-primary bi bi-eye m-1", "data-bs-toggle": "collapse", 
              role: "button", "aria-expanded": "false", "aria-controls": "collapseSousarticle#{dom_id(sousarticle)}" %>
        <%= button_to "", edit_sousarticle_path(sousarticle), method: :post, class: "btn btn-sm btn-secondary bi bi-pencil-square m-1" %>
        <%= button_to "", sousarticle, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm m-1 btn-danger bi bi-trash m-1" %>
      </div>

    </div>

</div>
