<div id="<%= dom_id fournisseur %>">
  <p>
    <strong>Nom:</strong>
    <%= fournisseur.nom %>
  </p>

  <p>
    <strong>Tel:</strong>
    <%= fournisseur.tel %>
  </p>

  <p>
    <strong>Mail:</strong>
    <%= fournisseur.mail %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= fournisseur.contact %>
  </p>

  <p>
    <strong>Site:</strong>
    <%= fournisseur.site %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= fournisseur.notes %>
  </p>

</div>
