<% admin_parameter_index_collapse = local_assigns[:index_collapse] && !admin_parameter.persisted? %>
<div class="card mx-2 p-2 light-beige-colored shadow-sm <%= admin_parameter_index_collapse ? 'mb-0' : 'mt-3' %>">

  <%= form_with(model: admin_parameter, url: admin_parameter.persisted? ? admin_admin_parameter_path(admin_parameter) : admin_admin_parameters_path, method: admin_parameter.persisted? ? :patch : :post, data: { turbo: true }) do |form| %>
    <% if admin_parameter.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(admin_parameter.errors.count, "error") %> prohibited this admin_parameter from being saved:</h2>

        <ul>
          <% admin_parameter.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= custom_form_elements(form,
      [:tx_tva, :number_field],
      [:duree_rdv, :number_field],
      [:coef_longue_duree, :number_field, "majoration longue duree"],
      [:coef_prix_achat_vente, :number_field, "coef prix achat"]) %>
    
    <%= custom_submit_button(form) %>

  <% end %>

</div>