
<%= bandeau_entete("Paramètres admin", "gear","", "", "") %>

<div class="container-fluid text-end">
  
  <% unless @admin_parameters.first %>
    <%= link_to "#collapseNew", 
          class: "btn btn-warning", "data-bs-toggle": "collapse", 
          role: "button", "aria-expanded": "false", "aria-controls": "collapseNew" do %>

        <i class="fa-solid fa-square-plus fa-xl me-1"></i>
        <span class="fw-bold"> Créer </span>

    <% end %>
  <% end %>
</div>

<%= bloc_nouveau(AdminParameter) %>

<div id="admin_parameters">
  <% @admin_parameters.each do |admin_parameter| %>
        <%= render admin_parameter %>
  <% end %>
</div>

<%#= button_to 'Importer Produits', admin_import_data_produits_path, method: :post, class: 'btn btn-primary' %>

<%= form_with url: admin_import_data_produits_path, method: :post, local: true, multipart: true do |form| %>
  <div class="form-group">
    <%= form.label :csv_file, "Choose CSV file to import" %>
    <%= form.file_field :csv_file, accept: '.csv' %>
  </div>

  <div class="form-group">
    <%= form.submit "Import Products", class: 'btn btn-primary' %>
  </div>
<% end %>
