
<%= bandeau_entete("Paramètres admin", "gear","", "", "") %>

<div class="container-fluid text-end">
  
  <% unless @admin_parameters.first %>
    <%= link_to "#collapseNew", 
          class: "btn btn-warning", "data-bs-toggle": "collapse", 
          role: "button", "aria-expanded": "false", "aria-controls": "collapseNew" do %>

        <i class="fa-solid fa-square-plus fa-xl me-1"></i>
        <span class="fw-bold"> Créer </span>

    <% end %>
  <% end %>
</div>

<%= bloc_nouveau(AdminParameter) %>

<div id="admin_parameters">
  <% @admin_parameters.each do |admin_parameter| %>
        <%= render admin_parameter %>
  <% end %>
</div>

<div class="card mx-2 mb-3 p-2 light-beige-colored shadow-sm">
  <%= form_with url: admin_import_data_produits_path, method: :post, local: true, multipart: true, class: "row align-items-center" do |form| %>

    <div class="form-group input-group align-items-center justify-content-center gap-2 mb-2">
      <%= form.label :csv_file, "Sélectionner un CSV à importer", class: "form-label" %>
      <%= form.file_field :csv_file, accept: '.csv', class: "form-control" %>
    </div>

    <div class="form-group input-group align-items-center justify-content-center gap-2 mb-2">
      <%= form.label :start_row, "Ligne de départ", class: "form-label" %>
      <%= form.number_field :start_row, min: 1, value: 1, class: "form-control" %>

      <%= form.label :end_row, "Ligne de fin", class: "form-label" %>
      <%= form.number_field :end_row, min: 1, class: "form-control" %>
    </div>

    <div class="text-end mt-2">
      <%= form.submit "Importer les produits", class: 'btn btn-primary btn-sm', onclick: 'return confirm("Êtes-vous sûr de vouloir importer ces produits ?")' %>
    </div>

  <% end %>
</div>
