<%= bandeau_entete_simple("Configuration des rendez-vous", "sliders") %>

<div class="card m-2 shadow-sm">
  <div class="card-body p-0">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active text-dark" id="parametres-tab" data-bs-toggle="tab" data-bs-target="#parametres" type="button" role="tab" aria-controls="parametres" aria-selected="true">
          <i class="bi bi-sliders me-1"></i>Paramètres
        </button>
        <button class="nav-link text-dark" id="types-tab" data-bs-toggle="tab" data-bs-target="#types" type="button" role="tab" aria-controls="types" aria-selected="false">
          <i class="bi bi-ui-checks-grid me-1"></i>Types de RDV
        </button>
        <button class="nav-link text-dark" id="periodes-tab" data-bs-toggle="tab" data-bs-target="#periodes" type="button" role="tab" aria-controls="periodes" aria-selected="false">
          <i class="bi bi-calendar-x me-1"></i>Périodes non disponibles
        </button>
      </div>
    </nav>

    <div class="tab-content p-2" id="nav-tabContent">
      <div class="tab-pane fade show active" id="parametres" role="tabpanel" aria-labelledby="parametres-tab" tabindex="0">
        <%= render "admin/parametre_rdvs/parametres_tab" %>
      </div>

      <div class="tab-pane fade" id="types" role="tabpanel" aria-labelledby="types-tab" tabindex="0">
        <%= render "admin/parametre_rdvs/types_tab" %>
      </div>

      <div class="tab-pane fade" id="periodes" role="tabpanel" aria-labelledby="periodes-tab" tabindex="0">
        <%= render "admin/parametre_rdvs/periodes_tab" %>
      </div>
    </div>
  </div>
</div>

<div class="m-2">
  <%= link_to admin_root_path, class: "btn btn-outline-secondary" do %>
    <i class="bi bi-arrow-left me-1"></i>Retour
  <% end %>
</div>

