
<div class="container text-center">
  <div class="row row-cols-2 p-4">
    <div class="col p-4">
      <%= link_to image_tag("icons/clients_ico.png", border: 0, width: 50), clients_path, class:"navbar-brand" %> <br>
    </div>
    <div class="col p-4">
      <%= link_to image_tag("icons/produits_ico.png", border: 0, width: 50), produits_path, class:"navbar-brand" %> <br>
     </div>
    <div class="col p-4">
     <%= link_to image_tag("icons/commandes_ico.png", border: 0, width: 50), commandes_path, class:"navbar-brand" %> <br>
      </div>
    <div class="col p-4">
      <%= link_to image_tag("icons/calendrier_ico.png", border: 0, width: 50), root_path, class:"navbar-brand" %> <br>
      </div>
    <div class="col p-4">
      <%= link_to image_tag("icons/finances_ico.png", border: 0, width: 50), root_path, class:"navbar-brand" %> <br>
       </div>
    <div class="col p-4">
       <%= link_to image_tag("icons/marketing_ico.png", border: 0, width: 50), "marketing", class:"navbar-brand" %> <br>
      </div>
  </div>
</div>
