 <h5 class="bg-dark text-center"> Menu</h5>

<div class="row row-cols-2">
  <div class="card mb-0" style="max-width: 200px;">
    <div class="row g-0">
      <div class="col-md-0">
          <%= link_to image_tag("icons/clients_ico.png", border: 0, width: 40), clients_path, class:"img-fluid rounded-start" %> <br>
         </div>
      <div class="col-md-0">
        <div class="card-body">
          <h6 class="card-title text-dark">Clients</h6>
          <p class="card-text"><small class="text-muted"> nb: <%= Client.count %></small></p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-0" style="max-width: 200px;">
    <div class="row g-0">
      <div class="col-md-0">
        <%= link_to image_tag("icons/clients_ico.png", border: 0, width: 40), clients_path, class:"img-fluid rounded-start" %> <br>
      </div>
      <div class="col-md-0">
        <div class="card-body">
          <h6 class="card-title text-dark">Clients</h6>
          <p class="card-text"><small class="text-muted"> nb: <%= Client.count %></small></p>
        </div>
      </div>
    </div>
  </div>
    <div class="card mb-0" style="max-width: 200px;">
    <div class="row g-0">
      <div class="col-md-0">
        <%= link_to image_tag("icons/clients_ico.png", border: 0, width: 40), clients_path, class:"img-fluid rounded-start" %> <br>
      </div>
      <div class="col-md-0">
        <div class="card-body">
          <h6 class="card-title text-dark">Clients</h6>
          <p class="card-text"><small class="text-muted"> nb: <%= Client.count %></small></p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-0" style="max-width: 200px;">
    <div class="row g-0">
      <div class="col-md-0">
        <%= link_to image_tag("icons/clients_ico.png", border: 0, width: 40), clients_path, class:"img-fluid rounded-start" %> <br>
      </div>
      <div class="col-md-0">
        <div class="card-body">
          <h6 class="card-title text-dark">Clients</h6>
          <p class="card-text"><small class="text-muted"> nb: <%= Client.count %></small></p>
        </div>
      </div>
    </div>
  </div>
    <div class="card mb-0" style="max-width: 200px;">
    <div class="row g-0">
      <div class="col-md-0">
        <%= link_to image_tag("icons/clients_ico.png", border: 0, width: 40), clients_path, class:"img-fluid rounded-start" %> <br>
      </div>
      <div class="col-md-0">
        <div class="card-body">
          <h6 class="card-title text-dark">Clients</h6>
          <p class="card-text"><small class="text-muted"> nb: <%= Client.count %></small></p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-0" style="max-width: 200px;">
    <div class="row g-0">
      <div class="col-md-0">
        <%= link_to image_tag("icons/clients_ico.png", border: 0, width: 40), clients_path, class:"img-fluid rounded-start" %> <br>
      </div>
      <div class="col-md-0">
        <div class="card-body">
          <h6 class="card-title text-dark">Clients</h6>
          <p class="card-text"><small class="text-muted"> nb: <%= Client.count %></small></p>
        </div>
      </div>
    </div>
  </div>
</div>
