
  <div class="card mx-2 mt-3 p-2 light-beige-colored shadow-sm">

    <%= form_with(model: taille) do |form| %>
      <% if taille.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(taille.errors.count, "error") %> prohibited this taille from being saved:</h2>

          <ul>
            <% taille.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= custom_form_elements(form, [:nom, :text_field]) %>

      <%= custom_submit_button(form) %>

    <% end %>
  
  
  </div>
