<div class="card p-2" id="<%= dom_id(periode_non_disponible) %>">
  <% periode_non_disponible_local = local_assigns[:periode_non_disponible] || @periode_non_disponible %>
  <%= form_with model: [:admin, periode_non_disponible_local], url: periode_non_disponible_local.persisted? ? admin_periodes_non_disponible_path(periode_non_disponible_local) : admin_periodes_non_disponibles_path, class: "" do |f| %>
    <div class="">
      <% if periode_non_disponible_local.errors.any? %>
        <div class="alert alert-danger">
          <ul class="mb-0">
            <% periode_non_disponible_local.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row">
        <div class="col-md-4 mb-3">
          <div class="form-floating">
            <%= f.date_field :date_debut, class: "form-control", placeholder: "Date de début" %>
            <%= f.label :date_debut, "Date de début" %>
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <div class="form-floating">
            <%= f.date_field :date_fin, class: "form-control", placeholder: "Date de fin" %>
            <%= f.label :date_fin, "Date de fin" %>
          </div>
        </div>
        <div class="col-md-4 mb-3 d-flex align-items-center">
          <div class="form-check mt-4">
            <%= f.check_box :recurrence, class: "form-check-input", id: "periode_recurrence" %>
            <%= f.label :recurrence, "Période récurrente (chaque année)", class: "form-check-label fw-bold" %>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-end p-2">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
