
<div class="container-fluid m-0 p-0">
  <div class="row m-0 p-0">
    <div class="col-md-6 m-0 p-0">
      <%= dashboard_card("Clients", admin_clients_path, new_admin_client_path, 'person',
            @clients.order(updated_at: :desc).map { |client| { text: client.full_name, path: admin_client_path(client) } } ) %>
    </div>
    <div class="col-md-6 m-0 p-0">
      <%= dashboard_card("Commandes", admin_commandes_path, new_admin_commande_path, 'file-earmark-fill',
            @commandes.order(updated_at: :desc).map { |commande| { text: commande.full_name_with_client, path: admin_commande_path(commande) } } )  %>
    </div>
  </div>

  <div class="row m-0 p-0">
    <div class="col-md-6 m-0 p-0">
      <%= dashboard_card("Produits", admin_produits_path, new_admin_produit_path, 'person-standing-dress',
            @produits.order(updated_at: :desc).map { |produit| { text: produit.nom_couleur_taille, path: admin_produit_path(produit) } } ) %>
    </div>
    <div class="col-md-6 m-0 p-0">
      <%= dashboard_card("Rendez-vous", admin_meetings_path, admin_meetings_path, 'calendar-date',
            @meetings.order(updated_at: :desc).map { |meeting| { text:  meeting.meeting_info, path: admin_meeting_path(meeting) } } ) %>
    </div>
  </div>

  <div class="row m-0 p-0">
    <div class="col-12 m-0 p-0">
      <%= render "blocLarge" %>
    </div>
  </div>

  <% if current_admin_user %>
      <div class="container-fluid mt-4 d-flex justify-content-end">
          <%= button_to destroy_admin_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "btn btn-sm btn-danger d-flex align-items-center" do %>
              <i class="bi bi-box-arrow-left me-1"></i>
              <span class="fw-bold"><%= current_admin_user.role %> </span>
          <% end %>
      </div>
  <% end %>

</div>
