
<div class="section-solidaire"> 
  <% if @doc_edition.commande.avoir_rembs.present? %>
    <h5 class="h5-doc"> AVOIRS REMBOURSEMENTS </h5>

    <table class="table table-doc table-bordered">
          <thead class="table th-doc">
            <tr>
              <th class="">#</th>
              <th class="th-doc">Type</th>
              <th class="th-doc">Date</th>
              <th class="th-doc">Montant</th>
            </tr>
          </thead>
          <tbody>

            <% @doc_edition.commande.avoir_rembs.each_with_index do | avoirremb, i | %>
              <tr>
                <td class="td-doc centered"> <%= i + 1 %> </td>
                <td class="td-doc centered"> <%= avoirremb.type_avoir_remb %> </td>
                <td class="td-doc centered"> <%= avoirremb.custom_date.strftime("%d/%m/%y") if avoirremb.custom_date.present? %> </td>
                <td class="td-doc centered"> <%= custom_currency_format(avoirremb.montant) %> </td>
              </tr> 
            <% end %>
          </tbody>

          <tfoot>
            <tr>
              <td colspan=3 class="tfoot-doc">  TOTAUX  </td>
              <td class="tfoot-doc centered"> 
                <%= custom_currency_format(avoir_deduit(@doc_edition.commande) - remb_deduit(@doc_edition.commande)) %> 
              </td>
            </tr>
          </tfoot>
        </table>
  <% end %>
</div>