<table width="100%" style="border-style: hidden;">
  <tr>
    <!-- Left Side: Existing Content -->
    <td style="vertical-align: top; width: 80%; border-style: hidden;">
      <span>Client </span> 
      <span class="doc-important"> <%= @doc_edition.commande.client.full_name %> </span> <br>

      <br>

      <span>Langue : <%= @doc_edition.commande.client.language_label %>  </span> 

      <% if @doc_edition.commande.client.contact.present? %>
        <div>Contact : <%= @doc_edition.commande.client.contact %>  </div> 
      <% end %>
      <br>
      
      <% if @doc_edition.commande.typeevent.present? %>
          <br>
          <span>Evénement</span>
          <span class="doc-important"> <%= @doc_edition.commande.full_event %> </span> <br>
      <% end %>

      <% if @doc_edition.commande.debutloc %>
          <span> <%= @doc_edition.commande.label_dates_location %> </span> <br>
      <% end %>

      <br>
      Mail : <span class="doc-important"> <%= @doc_edition.commande.client.mail %> </span> <br>
      Téléphone : <span class="doc-important"> <%= @doc_edition.commande.client.tel %> </span> <br>

      <% if @doc_edition.commande.client.adresse.present? %>
        Adresse :
        <%= @doc_edition.commande.client.adresse %> <br>
        <%= @doc_edition.commande.client.cp %> 
        <%= @doc_edition.commande.client.ville %>          
      <% end %>

    </td>

    <td style="vertical-align: top; text-align: center; width: 20%; border-style: hidden;">

      <% if @doc_edition.commande.devis? %>
        <div class="doc-important">
          Devis
        </div>
      <% else %>
        <div class="doc-important"><%= @doc_edition.doc_type.capitalize %></div>
      <% end %>
      <div class="doc-important"><%= @doc_edition.commande.ref_commande %></div>

      <% if @doc_edition.commande.qr_code.present? %>
        <div>
          <%= image_tag(@doc_edition.commande.qr_code, class: "img-qr-etiquette") %>
        </div>
      <% end %>

      <div>
        Servi par 
        <span class="doc-important"> <%= @doc_edition.commande.profile.full_name %> </span> 
      </div>

      <div>Statut 
        <span class="doc-important"> <%= @doc_edition.commande.statutarticles %> </span> 
      </div>

    </td>

  </tr>
</table>
