<%# reparametrer les articles avec le param local commande passé depuis commande mailer %>

<% if @doc_edition.commande.paiement_recus.present? %>

  <div class="section-solidaire">

    <h5 class="h5-doc"> PAIEMENTS </h5>

    <table class="table table-doc">
      <thead class="">
        <tr>
          <th class="th-doc">#</th>
          <th class="th-doc">type</th>
          <th class="th-doc">date</th>
          <th class="th-doc">prix</th>  
          <th class="th-doc">caution</th>

        </tr>
      </thead>

      <tbody>
        <% @doc_edition.commande.paiement_recus.each_with_index do | paiement, i | %>
          <tr>
            <td class="td-doc-valeurs centered"> <%= i + 1 %> </td>
            <td class="td-doc centered"> <%= paiement.moyen %> </td>
            <td class="td-doc centered"> <%= paiement.custom_date.strftime("%d/%m/%y") if paiement.custom_date.present? %> </td>
            <td class="td-doc-valeurs ended">  <%= custom_currency_format(paiement.montant) if paiement.typepaiement == "prix" %> </td>
            <td class="td-doc-valeurs ended">  <%= custom_currency_format(paiement.montant)  if paiement.typepaiement == "caution" %> </td>
          </tr> 
        <% end %>  
      </tbody>
      
      <tfoot>
        <tr>
          <td colspan=3 class="tfoot-doc centered">  TOTAUX  </td>
          <td class="tfoot-doc ended"> 
            <%= custom_currency_format(recu_prix(@doc_edition.commande)) %> 
          </td>
          <td class="tfoot-doc ended"> 
            <%= custom_currency_format(recu_caution(@doc_edition.commande)) %> 
          </td>
        </tr>
      </tfoot>

    </table>
  </div>

<% end %>

