<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Document</title>
</head>

<br> 

<%= render "admin/pdf_commande/infos" %> <br>

<% unless @doc_edition.doc_type == "facture simple" %>
  <%= render "admin/pdf_commande/articles" %> 
  <%= render "admin/pdf_commande/paiements" %> 
  <%= render "admin/pdf_commande/avoirrembs" %> 
  <%= render "admin/pdf_commande/synthese" %> 
<% else %>
  <%= render "admin/pdf_commande/facture_simple" %> 
<% end %>
