<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Document</title>
</head>

<br> 
<h4 class="h4-doc"> 
  <%= "Devis" if @doc_edition.commande.devis? %>
</h4>

<%= render "admin/pdf_commande/infos" %> <br>
<%= render "admin/pdf_commande/articles" %> 
<%= render "admin/pdf_commande/paiements" %> 
<%= render "admin/pdf_commande/avoirrembs" %> 
<%= render "admin/pdf_commande/synthese" %> 
