<% if (results = find_ensemble_matching_type_produits(@commande)).present? %>
  <% results.each do |result| %>
    <div class="card p-2 my-2">
      <% if result[:matching_articles].any? %>
        <h5>Articles correspondant à un ensemble:</h5>
        <% result[:matching_articles].each do |article| %>
          <%= render partial: 'admin/articles/article_mini', locals: { article: article } %>
        <% end %>
        <h5>Vers l'ensemble: </h5>
        <%= render partial: 'admin/produits/produit_mini', locals: { produit: result[:ensemble].produit } %>

      <% else %>
        <p>No matching articles found for this ensemble.</p>
      <% end %>

      <%#= button_to "Transformer en ensemble", 
          toggle_transformer_ensemble_admin_selection_produit_index_path,
          class: "btn btn-primary my-2 w-100 fw-bold",
          method: :post,
          onclick: "return confirm('Certain(e) de transformer les articles en ensemble ?');" %>

      <%= form_with url: toggle_transformer_ensemble_admin_selection_produit_index_path, method: :post, local: true do %>
        <%= hidden_field_tag :ensemble_id, result[:ensemble].id %>
        
        <%# matching_reffrs_count: <%= result[:matching_reffrs_count] %> 
        <%# ref frs dans ensemble: <%= result[:ensemble].produit.reffrs %> 
        <%# ref frs dans articles: <%= @commande.articles.includes(:produit).map { |a| a.produit&.reffrs } %>

        <%= submit_tag "Transformer en ensemble", 
            class: "btn btn-primary my-2 w-100 fw-bold",
            data: { confirm: "Certain(e) de transformer les articles en ensemble ?" } %>
      <% end %>


    </div>
  <% end %>
<% end %>
