<div class="card mx-2 mt-3 p-2 light-beige-colored shadow-sm">

  <%= form_with(model: paiement_recu) do |form| %>
    <% if paiement_recu.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(paiement_recu.errors.count, "error") %> prohibited this paiement_recu from being saved:</h2>

        <ul>
          <% paiement_recu.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mx-1 px-2">
      <div class="input-group input-group">
        <%= form.label :typepaiement, class: "input-group-text" %>
        <%= form.select :typepaiement, PaiementRecu::TYPE_PAIEMENT,
        { include_blank: 'Select' }, class: "form-select" %>
      </div>
    </div>
    
    <%= custom_form_elements(form, 
      [:montant, :number_field],
      [:moyen, :number_field], [:commentaires, :text_area] )
    %>

    <%= form.hidden_field :commande_id, value: commande_id %>

    <%= custom_submit_button(form) %>

  <% end %>
    
</div>