<div id="<%= dom_id paiement_recu %>">
  <p>
    <strong>Typepaiement:</strong>
    <%= paiement_recu.typepaiement %>
  </p>

  <p>
    <strong>Montant:</strong>
    <%= paiement_recu.montant %>
  </p>

  <p>
    <strong>Commande:</strong>
    <%= paiement_recu.commande_id %>
  </p>

  <p>
    <strong>Moyen:</strong>
    <%= paiement_recu.moyen %>
  </p>

  <p>
    <strong>Commentaires:</strong>
    <%= paiement_recu.commentaires %>
  </p>

</div>
