<div class="card mx-2 mb-3 p-2 light-beige-colored shadow-sm">

  <%= form_with(model: [:admin, demande_rdv], data: { turbo: true }) do |form| %>
    <% if demande_rdv.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(demande_rdv.errors.count, "error") %> prohibited this demande from being saved:</h2>

        <ul>
          <% demande_rdv.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= custom_form_elements(form, 
      [:prenom, :text_field], [:nom, :text_field], 
      [:email, :text_field], [:telephone, :text_field]
    ) %>

    <div class="input-group px-1 mb-1">
      <%= form.label :date_rdv, "Date et heure du RDV", class: "input-group-text" %>
      <%= form.datetime_field :date_rdv, class: "form-control" %>
    </div>

    <%= custom_form_elements(form, 
      [:commentaire, :text_area]
    ) %>

    <div class="input-group px-1 mb-1">
      <%= form.label :statut, class: "input-group-text" %>
      <%= form.select :statut, 
        options_for_select(DemandeRdv::STATUT, demande_rdv.statut),
        { include_blank: false }, 
        { class: "form-select" } %>
    </div>

    <%= custom_submit_button(form) %>

  <% end %>

</div>

