<div id="<%= dom_id doc_edition %>">
  <p>
    <strong>Commande:</strong>
    <%= doc_edition.commande_id %>
  </p>

  <p>
    <strong>Doc type:</strong>
    <%= doc_edition.doc_type %>
  </p>

  <p>
    <strong>Commentaires:</strong>
    <%= doc_edition.commentaires %>
  </p>

  <%= link_to generate_commande_doc_editions_path(commande: doc_edition.commande, type_doc: doc_edition.doc_type), 
         class: "btn btn-outline-danger m-1 w-100", target: "_blank" do %>
         <span class="fw-bold"> Editer pdf </span>
   <% end %>


  <%= button_to 'Send Email', send_email_path(commande: doc_edition.commande, type_doc: doc_edition.doc_type), method: :post, class: 'btn w-100 btn-outline-primary' %>


</div>
