<div id="<%= dom_id doc_edition %>">
  <p>
    <strong>Commande:</strong>
    <%= doc_edition.commande_id %>
  </p>

  <p>
    <strong>Doc type:</strong>
    <%= doc_edition.doc_type %>
  </p>

  <p>
    <strong>Edition type:</strong>
    <%= doc_edition.edition_type %>
  </p>

  <p>
    <strong>Commentaires:</strong>
    <%= doc_edition.commentaires %>
  </p>

</div>
