<div id="<%= dom_id doc_edition %>">
  <p>
    <strong>Commande:</strong>
    <%= doc_edition.commande_id %>
  </p>

  <p>
    <strong>Doc type:</strong>
    <%= doc_edition.doc_type %>
  </p>

  <p>
    <strong>Commentaires:</strong>
    <%= doc_edition.commentaires %>
  </p>
  
  <p>
    <strong>sujet:</strong>
    <%= doc_edition.sujet %>
  </p>

  <p>
    <strong>destinaire:</strong>
    <%= doc_edition.destinataire %>
  </p>

  <p>
    <strong>message:</strong>
    <%= doc_edition.message %>
  </p>

  <%= link_to generate_commande_doc_editions_path(doc_edition: doc_edition), 
        class: "btn btn-outline-danger m-1 w-100", target: "_blank" do %>
        <span class="fw-bold"> Editer pdf </span>
  <% end %>

  <%= button_to 'Envoyer mail', send_email_path(doc_edition: doc_edition), 
        method: :post, class: 'btn w-100 btn-outline-primary' %>


</div>
