<p style="color: green"><%= notice %></p>

<%= render @doc_edition %>

<div>
  <%= link_to "Edit this doc edition", edit_doc_edition_path(@doc_edition) %> |
  <%= link_to "Back to doc editions", doc_editions_path %>

  <%= button_to "Destroy this doc edition", @doc_edition, method: :delete %>
</div>
