<div id="<%= dom_id paiement %>">
  <p>
    <strong>Typepaiement:</strong>
    <%= paiement.typepaiement %>
  </p>

  <p>
    <strong>Montant:</strong>
    <%= paiement.montant %>
  </p>

  <p>
    <strong>Commande:</strong>
    <%= paiement.commande_id %>
  </p>

  <p>
    <strong>Moyen:</strong>
    <%= paiement.moyen %>
  </p>

  <p>
    <strong>Commentaires:</strong>
    <%= paiement.commentaires %>
  </p>

</div>
