
<nav class="navbar sticky-top navbar-expand-lg light-beige-colored shadow-sm">
  <div class="container-fluid">
    <%= link_to image_tag('/images/logo_courant_public.png', class: 'navbar-brand me-4', width: "200"), admin_root_path %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav me-auto my-2 my-lg-0">
        <%= nav_link(admin_home_admin_path, "Accueil", "bi-house") %>
        <%= nav_link(admin_clients_path, "Clients", "bi-person") %>
        <%= nav_link(admin_produits_path, "Produits", "bi-person-standing-dress") %>
        <%= nav_link(admin_commandes_path, "Commandes", "bi-file-earmark-post") %>
        <%= nav_link(admin_meetings_path, "Calendrier", "bi-calendar-date") %>
        <%= nav_link(admin_analyses_index_path, "Analyses", "bi-graph-up-arrow") %>
        <%= nav_link(admin_home_admin_path, "Marketing", "bi-flag") if current_admin_user&.admin? %>
      </ul>
      <!--form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Recherche..." aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">
          <i class="fa-solid fa-xl fa-magnifying-glass"></i>
        </button-->
      </form>
    </div>
  </div>
</nav>