
<nav class="navbar navbar-admin navbar-light bg-light navbar-expand-xxl navbar-fixed-height py-0">
  <div class="container-fluid px-3 py-0 d-flex align-items-center justify-content-between">
    <%= link_to image_tag('/images/logo_courant_public.png', class: 'navbar-brand mb-0', width: "180"), admin_root_path %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#adminNavbar" aria-controls="adminNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="adminNavbar">
      <ul class="navbar-nav me-auto mb-0 d-flex align-items-center gap-3 flex-wrap">
        <%= nav_link(admin_home_admin_path, "Accueil", "bi-house") %>
        <%= nav_link(admin_clients_path, "Clients", "bi-person") %>
        <%= nav_link(admin_produits_path, "Produits", "bi-person-standing-dress") %>
        <%= nav_link(admin_commandes_path, "Commandes", "bi-file-earmark-post") %>
        <%= nav_link(admin_meetings_path, "Calendrier", "bi-calendar-date") %>
        <%= nav_link(admin_analyses_index_path, "Analyses", "bi-graph-up-arrow") %>
        <%= nav_link(admin_textes_path, "Marketing", "bi-flag") if current_admin_user&.admin? %>
      </ul>
    </div>
  </div>
</nav>