  <div class="row justify-content-center">
      <div>
        <table class="table table-responsive", style="width: 100%;">
          <td class="text-center align-middle"> 
            <%= link_to image_tag("icons/contact_ico.png", border: 0, width: 40), root_path %> 
            <%= link_to "Contact", "contact", style:"color: rgb(204, 46, 102)" %>
          </td>
          <td class="text-center align-middle">  
            <%= link_to image_tag("logo1.png", border: 0, width: 250), root_path %>
          </td>
          <td class="text-center align-middle">
            <%= link_to image_tag("icons/eshop.png", border: 0, width: 40), root_path %> <br>
            <%= link_to "Boutique en ligne", root_path, style:"color: rgb(204, 46, 102)" %>
          </td>
        </table>
      </div>
    </div>