<div class="card m-2 shadow-sm">

    <div class="card-header bg-dark text-light py-2 fw-bold text-center fs-5">
        <i class="fa fa-xl brand-colored fa-gear me-2"></i>
        Fonctions supplémenatires
    </div>

    <div class= "card-body p-2 light-beige-colored text-center">

        <%= options_supplementaires_link(users_path, "fa-user-circle", "Comptes", "btn-outline-primary") %>
        <%= options_supplementaires_link(profiles_path, "fa-user-gear", "Profiles", "btn-outline-dark") %>
        <%= options_supplementaires_link(root_path, "fa-bullhorn", "Marketing", "btn-outline-warning") %>
        <%= options_supplementaires_link(root_path, "fa-chart-line", "Analyses", "btn-outline-success") %>
        <%= options_supplementaires_link(etiquettes_index_path, "fa-tags", "Etiquettes", "btn-outline-secondary") %>
        <%= options_supplementaires_link(stock_index_path, "fa-box-open", "Stocks", "btn-outline-danger") %>
        <%= options_supplementaires_link(fournisseurs_path, "fa-industry", "Fournisseurs", "btn-outline-dark") %>
        <%= options_supplementaires_link(ensembles_path, "fa-cubes", "Gestion des Ensembles", "btn-outline-primary") %>
        <%= options_supplementaires_link(categorie_produits_path, "fa-cubes", "Cat. produits", "btn-outline-dark") %>
        <%= options_supplementaires_link(type_produits_path, "fa-cubes", "Type. produits", "btn-outline-primary") %>

        <%= options_supplementaires_link(couleurs_path, "fa-cubes", "Couleurs", "btn-outline-dark") %>
        <%= options_supplementaires_link(tailles_path, "fa-cubes", "Tailles", "btn-outline-dark") %>
        <%= options_supplementaires_link(admin_parameters_path, "fa-screwdriver-wrench", "Parametres", "btn-outline-warning") %>

        <%# faire des regrouepents avc des menus deroulants par cat : ex parametre %>


    </div>

</div>

<% if user_signed_in? %>
    <div class="container-fluid mt-4 d-flex justify-content-end">
        <%= button_to destroy_user_session_path, method: :delete, class: "btn btn-sm btn-danger d-flex align-items-center" do %>
            <i class="fa-solid fa-right-from-bracket me-1"></i>
            <span class="fw-bold"><%= current_user.role %> </span>
        <% end %>
    </div>
<% end %>