
<div class="container-fluid m-0 p-0">
  <div class="row m-0 p-0">
    <div class="col-6 m-0 p-0">
      <%= dashboard_card("Clients", clients_path, 
            @clients.order(updated_at: :desc).map { |client| { text: client.full_name, path: client_path(client), icon: '' } }, 'user' ) %>
    </div>
    <div class="col-6 m-0 p-0">
      <%= dashboard_card("Commandes", commandes_path, 
            @commandes.order(updated_at: :desc).map { |commande| { text: commande.full_name, path: commande_path(commande), icon: '' } }, 'file' ) %>
    </div>
  </div>

  <div class="row m-0 p-0">
    <div class="col-6 m-0 p-0">
      <%= dashboard_card("Produits", produits_path, 
            @produits.order(updated_at: :desc).map { |produit| { text: produit.full_name, path: produit_path(produit), icon: '' } }, 'shirt' ) %>
    </div>
    <div class="col-6 m-0 p-0">
      <%= dashboard_card("RdV", meetings_path, 
            @meetings.order(updated_at: :desc).map { |meeting| { text: meeting.nom, path: meeting_path(meeting), icon: '' } }, 'calendar' ) %>
    </div>
  </div>

  <div class="row m-0 p-0">
    <div class="col-12 m-0 p-0">
      <%= render "blocLarge" %>
    </div>
  </div>

</div>

<%= render "footer" %>


<hr>

