<!DOCTYPE html>
<html>
  <head>
    <title>A1soir public</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>  

      <%= stylesheet_link_tag "public", "data-turbo-track": "reload" %>
 
  </head>

  <header> 
    <div class="container">
      <%= render partial: "welcome_public/header" %>
    </div>
  </header>

  <body class="d-flex flex-column min-vh-100">
     <%= render partial: "shared/navbarPublic" %>
    <div class="container">
      <%= yield %>
    </div>
  </body>

 <footer class="mt-auto", style="margin: 5px;">
    <%= link_to "admin", "/accueil_admin", class:"btn btn-sm btn-dark" %> 
  </footer>
</html>
